main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 10vw;
}

.carousel-inner>div>img{
    width: 100vw;
    height: 85vh;
    object-fit: cover;
}

.card-img-top{
    height: 200px;
    border: #06172e5c 1px solid;
    border-radius: 8px;
    transform: translateY(-21px);
}

a{
    text-decoration: none;
}

@media screen and (width<1000px) {
    #navegacion_principal{
        height: max-content;
    }

    #unete{
        height: max-content;
    }
}