body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

#banner_promocion {
    position: relative;
    height: 6vh;
}

#promocion {
    color: #fff;
    font-weight: bold;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: +1;
}

main{
    padding: 20px 15px;
}

#ctn_final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: #FF1D25;
    padding: 30px 30px 20px 30px;
}

#ctn_final>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 0 0 20px 0;
}

#ctn_chatbot {
    width: 100vw;
    top: 84vh;
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#chat {
    background: #fff;
    justify-content: end;
    margin: 0 55px;
    width: 300px;
    height: 500px;
    border: #1B1415 1px solid;
    border-radius: 8px;
    position: absolute;
    display: none;
}

#chatbot {
    background: #FF1D25;
    width: 50px;
    padding: 12px;
    border-radius: 100%;
    border: #1B1415 1px solid;
    position: relative;
    z-index: +1;
    margin: 0 30px 0 0;
    transform: translateY(25px);
}

.mensaje {
    background: #FF1D25;
    color: #fff;
    text-wrap: balance;
    padding: 5px 8px;
    margin: 10px;
    border-radius: 5px;
}

.repetir_nuevamente {
    background: #cd0108;
    color: #fff;
    text-wrap: balance;
    padding: 5px 8px;
    margin: 10px 62px 0 -14px;
    border-radius: 5px;
}

.eleccion_usuario {
    background: #cd0108;
    color: #fff;
    text-wrap: balance;
    padding: 5px 8px;
    margin: 10px 62px 0 -14px;
    border-radius: 5px;
}

#ubicacion {
    font-weight: 100;
    text-wrap: balance;
}

/**/
p {
    margin: 0.25rem;
}

a{
    text-decoration: none;
}

.card {
    position: relative;
    padding: 1.5rem 1rem;
    font-size: 0.9rem;
    background: #ac060c;
    width: clamp(20rem, 25rem, 30rem);
    border-radius: 0.5rem;
    color: #fff;
}

.card::before {
    --space: 1rem;
    content: attr(data-title);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: calc(var(--space) / 2);
    left: calc(var(--space) / 2);
    width: calc(100% - var(--space));
    height: calc(100% - var(--space));
    background: #ac060c;
    border: #FF1D25 5px solid;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    backdrop-filter: blur(0.5rem);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.card:hover:before {
    height: 25%;
    top: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    background: #d5030a;
    border: #1B1415 1px solid;
}

#tutorial1{
    position: relative;
    padding: 1.5rem 1rem;
    font-size: 0.9rem;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(20rem, 25rem, 30rem);
    border-radius: 0.5rem;
    color: #fff;
    background-image: url("../img/fondo4.jpg");
    background-color: rgba(160, 17, 17, 0.612);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    border-radius: 8px;
    text-align: center;
    padding: 0 25px;
}

#tutorial2{
    position: relative;
    padding: 1.5rem 1rem;
    font-size: 0.9rem;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(20rem, 25rem, 30rem);
    border-radius: 0.5rem;
    color: #fff;
    background-image: url("../img/fondo1.jpg");
    background-color: rgba(160, 17, 17, 0.612);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    border-radius: 8px;
    text-align: center;
    padding: 0 25px;
}

#tutorial3{
    position: relative;
    padding: 1.5rem 1rem;
    font-size: 0.9rem;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(20rem, 25rem, 30rem);
    border-radius: 0.5rem;
    color: #fff;
    background-image: url("../img/fondo1.jpg");
    background-color: rgba(160, 17, 17, 0.612);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    border-radius: 8px;
    text-align: center;
    padding: 0 25px;
}
/**/
@media screen and (width<1000px) {
    #ctn_chatbot {
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: end;
        align-items: flex-end;
    }

    #tutorial1,#tutorial2,#tutorial3{
        width: 385px;
    }
}   