/*Colores Kancha*/
.bg-rojo-k{
    background-color: rgb(255, 29, 37);
}

.bg-azul-k{
    background-color: rgb(85, 85, 229);
}

.l-rojo-k{
    color: rgb(255, 29, 37);
}

.bg-negro-k{
    background-color: rgb(20, 12, 12);
}

.l-negro-k{
    color: rgb(20, 12, 12);
}

.bg-blanco-k{
    background-color: rgb(255, 244, 244);
}

.l-blanco-k{
    color: rgb(255, 244, 244);
}

.bg-gris-k{
    background-color: rgb(109, 109, 109);
}

.l-gris-k{
    color: rgb(109, 109, 109);
}

.bg-oscuro-k{
    background-color: rgb(118, 14, 31);
}

.l-oscuro-k{
    color: rgb(118, 14, 31);
}

.bg-humo-k{
    background-color: rgb(245, 245, 245);
}

.l-humo-k{
    color: rgb(245, 245, 245);
}

/*Encabezado*/
.log1{
    height: 40px;
}

.navbar-toggler{
    border: 0;
}

.navbar-toggler:hover{
    background-color: rgb(10, 5, 5);
}

.togbicon{
    height: 24px;
}

.btrig:hover{
    background-color: rgb(10, 5, 5);
}

.btrig img{
    width: 18px;
}

.dropdown a{
    font-weight: bold;
}

.dropdown a::after{
    display: none;
}

.dropdown a:hover{
    color: rgb(255, 244, 244);
}

.cabi{
    cursor: pointer;
    background: linear-gradient(to right,rgb(255, 29, 37), rgb(118, 14, 31),rgb(255, 29, 37));
}

.cabi p{
    margin: 0;
    font-size: 0.7rem;
    color: rgb(255, 244, 244);
    font-weight: bold;
    text-align: center;
}

.cabi:hover{
    background: linear-gradient(to left,rgb(118, 14, 31),rgb(255, 29, 37),rgb(118, 14, 31));
}

/*BreadCrumb*/

.regresar{
    text-decoration: none;
}

.regresar button{
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.regresar button img{
    width: 24px;
}

.regresar button:hover{
    background-color: rgb(118, 14, 31);
}

.regresar label{
    font-weight: bold;
    cursor: pointer;
}

.regresar label:hover{
    color: rgb(118, 14, 31);
}

.breadcrumb li a{
    text-decoration: none;
}

.breadcrumb li a:hover{
    color: rgb(20, 12, 12);
}

/*Pie de Pagina*/

.logopie{
    transform: scale(70%);
}

.logopie img{
    max-height: 120px;
}

.accionpie p{
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
}

.unirsepie a{
    text-decoration: none;
}

.unirsepie button{
    width: 120px;
    font-weight: bold;
}

.unirsepie button:hover{
    background-color: rgb(118, 14, 31);
    color: rgb(255, 244, 244);
}

.ayudapie a{
    color: rgb(255, 244, 244);
    text-decoration: none;
}

.ayudapie img{
    width: 24px;
}

.ayudapie a:hover{
    color: rgb(255, 29, 37);
}

.ayudapie button{
    background-color: rgb(255, 244, 244);
    font-weight: bold;
    color: rgb(255, 29, 37);
}

.ayudapie button:hover{
    background-color: rgb(246, 216, 216);
}

.legalpie p{
    margin: 0;
}

.legalpie a{
    color: rgb(255, 244, 244);
    text-decoration: none;
}

.legalpie a:hover{
    color: rgb(20, 12, 12);
}