/* Añadir al archivo carrito.css o en un bloque <style> */
.basket-dropdown {
    display: none; /* El carrito estará oculto por defecto */
    position: absolute;
    right: 0;
    top: 100px; /* Ajusta según la posición deseada */
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    z-index: 1000;
  }
  
  .basket-dropdown.show {
    display: block; /* Muestra el carrito cuando se añade la clase 'show' */
  }
  