/* MisFavoritos.css */

.favorites-container {
    text-align: center;
    margin: 20px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    max-width: 1200px; /* Ajusta esto según tu necesidad */
    margin: auto;
}

.items-container {
    overflow: hidden;
    width: 100%;
}

.items {
    display: flex;
    transition: transform 0.5s ease;
}

.item {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    flex: 0 0 auto;
}

.item img {
    max-width: 100%;
    height: auto;
}

.nav {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.nav img {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
}


@media (min-width: 992px) {
    .item {
        min-width: calc(100% / 3);
    }
    #imagenCarrito{
        width: 15vw;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .item {
        min-width: 50%;
    }
    #imagenCarrito{
        width: 25vw;
    }
    
}

@media (min-width: 576px) and (max-width: 767px) {
    .item {
        min-width: 100%;
    }
    #imagenCarrito{
        width: 40vw;
    }
}

@media(max-width: 576px) {
    .item {
        min-width: 100%;
    }
    #imagenCarrito{
        width: 40vw;
    }
}

/* Centrando un solo elemento */
.items.single-item .item {
    min-width: 100%;
}

/* Centrando dos elementos */
.items.two-items .item {
    min-width: 50%;
}

/* Indicadores */
.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 5vw;
    height: 0.5vh;
    background-color: gray;
    margin: 0 5px;
    border-radius: 5%;
    display: inline-block;
}

.indicator.active {
    background-color: red;
}
