
.user-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
}
.user-dropdown button {
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
.user-dropdown-content {
    display: none;
    position: absolute;
    top: 8vh;
    right: 8vw;
    background-color: #fff;
    width: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 99;
}

.user-dropdown-content a {
    color: black;
    background-color: rgba(255, 255, 255, 0.233);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-dropdown-content a:hover {
    color: rgb(255,29,37);
}
.user-dropdown-content a span {
    margin-right: auto;
}
.icon {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    
    .user-dropdown-content {
        top: 8vh;
        right: 5vw;
        width: 40%;
    }
    
}

@media (max-width: 480px) {
    .user-dropdown {
        width: 120px;
        font-size: 12px;
        padding: 6px;
    }
    .user-dropdown-content {
        top: 8vh;
        right: 3vw;
        width: 50%;
    }
    .user-dropdown-content a {
        padding: 8px 10px;
    }
    .icon {
        width: 16px;
        height: 16px;
    }
}