.genero {
    width: 100%;
    height: 2.3rem;
    border-style: dotted;
}

.botonPerfil {
    display: flex;
    justify-content: end;
}


.invalid-field {
    border: 2px solid red;
}



@media (min-width: 649px) and (max-width: 767px) {

    .genero {
        margin-bottom: 1rem;
    }

    .botonPerfil {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 649px) {

    .genero {
        margin-bottom: 1rem;
    }

    .botonPerfil {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 636px) {

    .genero {
        margin-bottom: 1rem;
    }

    .botonPerfil {
        display: flex;
        justify-content: center;
    }
}
