*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#metodos_crear{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

#opciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

button{
    background: #FF1D25;
    color: #fff;
    border: hidden;
    border-radius: 5px;
}

fieldset{
    width: 100vw;
    height: max-content;
    border: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 23px 0 40px 0;
}

hr{
    width: 54%;
    margin: 30px 0 35px 0;
}

.campo{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: #1B1415 2px solid;
}

.campo:focus{
    border-radius: 5px;
    border: #414EAF 5px solid;
}

#ctn_acuerdos{
    font-size: 1.15em;
}

label,input[type="checkbox"]{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#enviar{
    background: #FF1D25;
    color: #fff;
    width: 30%;
    height: 60px;
    border: hidden;
    border-radius: 6px;
}

.metodo_registro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

@media screen and (width<950px) {
    .campo{
        width: 54%;
    }
}

