.product-link {
    text-decoration: none;
    color: inherit;
}

.product-card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative; /* Añadir esta línea */
}

.heart-container {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
}

.heart-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.filter-section {
    padding: 20px;
}

.filter-section.show {
    display: block;
}

.product-card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card .card {
    flex-grow: 1;
    position: relative;
}

.filter-title {
    cursor: pointer;
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.pagination {
    justify-content: center;
}

.klo {
    width: 12px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.kancha-precio {
    color: red;
    text-align: center;
}

.hidden {
    display: none;
}

#clearFilters, #closeFilters {
    display: inline-block;
    margin-bottom: 10px;
    width: 80%;
}

/* Ajustes responsivos para el contenedor de filtros */
@media (min-width: 992px) {
    .col-md-9 .product-card {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-md-12 .product-card {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 765px) and (max-width: 991.98px) {
    .filter-section {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1050;
        display: none;
        overflow-y: auto;
    }

    .filter-section.show {
        display: block;
    }

    .product-card {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-md-9 {
        width: 100%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 764.98px) and (min-width: 576px) {
    .filter-section {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1050;
        display: none;
        overflow-y: auto;
    }

    .filter-section.show {
        display: block;
    }

    .product-card {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 575.98px) {
    .filter-section {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1050;
        display: none;
        overflow-y: auto;
    }

    .filter-section.show {
        display: block;
    }

    .product-card {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .d-md-inline {
        display: none;
    }
}

@media (min-width: 990px) {
    #closeFilters {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }
}

.container-fluid,
.container {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 550px) {
    body {
        font-size: 0.8rem;
    }
}

/* Cambiar el color de las cabeceras del acordeón a un rojo claro */
.accordion-button {
    background-color: rgb(255, 244, 244);
    color: #000;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(255, 244, 244);
    color: #000;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.page-link {
    color: #000;
}
