<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kancha</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/productoselect.css">
    <link rel="stylesheet" href="../css/cabezapie.css">
    <link rel="stylesheet" href="../css/carrito.css">
    <link rel="stylesheet" href="../css/opcionesUser.css">
    <link rel="icon" type="image/svg" href="../img/logo_kancha_club.svg">
</head>

<body>
    <header id="header"></header>

    <main class="mt-3">
        <div class="row m-0 py-4">
            <div class="col p-0"></div>
            <div
                class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
                <a class="d-flex align-items-center me-2 regresar" href="Productos.html">
                    <button class="btn bg-rojo-k me-2 d-flex"><img class="img-fluid" src="../img/fr.svg"
                            alt=""></button><label class="l-rojo-k" for="regresar">Regresar</label>
                </a>
                <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                    <div class="container-fluid">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a class="l-gris-k" href="index.html">Inicio</a></li>
                                <li class="breadcrumb-item"><a class="l-gris-k" href="#">Niños</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a class="l-gris-k"
                                        href="#">Calzado</a></li>
                            </ol>
                        </nav>
                    </div>
                </nav>
            </div>
            <div class="col p-0"></div>
        </div>
        <div class="row m-0 py-2">
            <div
                class="col-12 order-2 px-1 col-md-10 offset-md-1 col-lg-5 offset-lg-1 order-lg-1 px-lg-5 col-xl-5 offset-xl-1">
                <div class="row carrusp mb-2 d-none d-lg-block">
                    <div class="col-12 p-0 mb-2">
                        <img id="mainImage2" class="main-image img-fluid" src="../img/foto (100).avif"
                            alt="Imagen Principal">
                    </div>
                    <div class="col-12 p-0 mb-2">
                        <div class="row m-0">
                            <div class="col thumbnail-item p-0 px-1">
                                <img class="img-fluid" src="../img/foto (100).avif" alt="Miniatura 1">
                            </div>
                            <div class="col thumbnail-item p-0 px-1">
                                <img class="img-fluid" src="../img/foto (101).avif" alt="Miniatura 1">
                            </div>
                            <div class="col thumbnail-item p-0 px-1">
                                <img class="img-fluid" src="../img/foto (102).avif" alt="Miniatura 2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row kclub m-0 mb-3">
                    <div class="col-12 background-div">
                        <div class="overlay-div">
                            <img src="../img/kancha_club.svg" class="img-fluid mb-3" alt="Overlay Image">
                            <a href="KanchaClub.html" class="d-flex justify-content-center">
                                <button
                                    class="btn bg-rojo-k l-blanco-k d-flex justify-content-center align-items-center">UNIRSE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row extrap m-0 mb-2">
                    <div class="col-12">
                        <div class="row mb-2">
                            <div class="col-12 mb-3">
                                <p class="l-negro-k">Completa tu <b class="l-rojo-k">Look</b></p>
                            </div>
                            <div class="col-12">
                                <div class="row m-0">
                                    <div class="col-4 p-0 px-1 extrac">
                                        <a href="Camiseta1.html"><img class="img-fluid pb-2" src="../img/foto (38).webp"
                                                alt="color1"></a>
                                        <div class="row">
                                            <div class="col-12 mb-1">
                                                <p>Camiseta Inglaterra</p>
                                            </div>
                                            <div class="col-12 pe-0">
                                                <p class="text-start"><b>S/ 119.99</b></p>
                                            </div>
                                            <div class="col-8 pe-0 my-1">
                                                <p class="text-start l-rojo-k"><b>S/ 99.99</b></p>
                                            </div>
                                            <div class="col-4 ps-0 d-flex justify-content-end my-1">
                                                <img class="klo" src="../img/logo_kancha_club.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 p-0 px-1 extrac">
                                        <a href="Short1.html"><img class="img-fluid pb-2" src="../img/foto (69).avif"
                                                alt="color1"></a>
                                        <div class="row">
                                            <div class="col-12 mb-1">
                                                <p>Short Visitante Perú</p>
                                            </div>
                                            <div class="col-12 pe-0">
                                                <p class="text-start"><b>S/ 169.99</b></p>
                                            </div>
                                            <div class="col-8 pe-0 my-1">
                                                <p class="text-start l-rojo-k"><b>S/ 109.99</b></p>
                                            </div>
                                            <div class="col-4 ps-0 d-flex justify-content-end my-1">
                                                <img class="klo" src="../img/logo_kancha_club.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 p-0 px-1 extrac">
                                        <a href="Medias1.html"><img class="img-fluid pb-2" src="../img/foto (37).avif"
                                                alt="color1"></a>
                                        <div class="row">
                                            <div class="col-12 mb-1">
                                                <p>Calcetines ADI 24</p>
                                            </div>
                                            <div class="col-12 pe-0">
                                                <p class="text-start"><b>S/ 49.99</b></p>
                                            </div>
                                            <div class="col-8 pe-0 my-1">
                                                <p class="text-start l-rojo-k"><b>S/ 39.99</b></p>
                                            </div>
                                            <div class="col-4 ps-0 d-flex justify-content-end my-1">
                                                <img class="klo" src="../img/logo_kancha_club.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 mb-3">
                                <p class="l-negro-k">También podría <b class="l-rojo-k">Gustarte</b></p>
                            </div>
                            <div class="col-12">
                                <div class="row m-0">
                                    <div class="col-4 p-0 px-1 extrac">
                                        <a href="TomatodoPuma.html"><img class="img-fluid pb-2"
                                                src="../img/foto (5).avif" alt="color1"></a>
                                        <div class="row">
                                            <div class="col-12 mb-1">
                                                <p>Tomatodo Training</p>
                                            </div>
                                            <div class="col-6 pe-0">
                                                <p class="text-start"><b>S/ 69.99</b></p>
                                            </div>
                                            <div class="col-6 ps-0">
                                                <p class="text-end"><b><s>S/ 79.99</s></b></p>
                                            </div>
                                            <div class="col-8 pe-0 my-1">
                                                <p class="text-start l-rojo-k"><b>S/ 41.99</b></p>
                                            </div>
                                            <div class="col-4 ps-0 d-flex justify-content-end my-1">
                                                <img class="klo" src="../img/logo_kancha_club.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 p-0 px-1 extrac">
                                        <a href="Pelota1Puma.html"><img class="img-fluid pb-2"
                                                src="../img/foto (34).avif" alt="color1"></a>
                                        <div class="row">
                                            <div class="col-12 mb-1">
                                                <p>Pelota Cumbre Copa</p>
                                            </div>
                                            <div class="col-6 pe-0">
                                                <p class="text-start"><b>S/ 69.99</b></p>
                                            </div>
                                            <div class="col-6 ps-0">
                                                <p class="text-end"><b><s>S/ 79.99</s></b></p>
                                            </div>
                                            <div class="col-8 pe-0 my-1">
                                                <p class="text-start l-rojo-k"><b>S/ 41.99</b></p>
                                            </div>
                                            <div class="col-4 ps-0 d-flex justify-content-end my-1">
                                                <img class="klo" src="../img/logo_kancha_club.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 p-0 px-1 extrac">
                                        <a href="ZapaJr.html"><img class="img-fluid pb-2" src="../img/foto (21).avif"
                                                alt="color1"></a>
                                        <div class="row">
                                            <div class="col-12 mb-1">
                                                <p>Chimpunes Future 7 Jr.</p>
                                            </div>
                                            <div class="col-6 pe-0">
                                                <p class="text-start"><b>S/ 219.99</b></p>
                                            </div>
                                            <div class="col-6 ps-0">
                                                <p class="text-end"><b><s>S/ 249.99</s></b></p>
                                            </div>
                                            <div class="col-8 pe-0 my-1">
                                                <p class="text-start l-rojo-k"><b>S/ 151.99</b></p>
                                            </div>
                                            <div class="col-4 ps-0 d-flex justify-content-end my-1">
                                                <img class="klo" src="../img/logo_kancha_club.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 order-1 px-1 col-md-10 offset-md-1 col-lg-5 offset-lg-0 order-lg-2 px-lg-1 col-xl-5">
                <div class="row infop mb-2">
                    <div class="col p-0">
                    </div>
                    <div class="col-10 p-0">
                        <div class="row lineap m-0 mb-2 align-items-center">
                            <div class="col p-0">
                                <p>Zapatillas Adidas Jr.</p>
                            </div>
                            <div class="col p-0 text-end">
                                <p>(4.5 / 5.0)</p>
                            </div>
                        </div>
                        <div class="row nombrep m-0 mb-2 align-items-center">
                            <div class="col-10 p-0">
                                <p class="l-negro-k">Predator Elite Jr.</p>
                            </div>
                            <div class="col p-0">
                                <img src="../img/adidas_logo.svg" alt="">
                            </div>
                        </div>
                        <div class="row mindep m-0 mb-2 align-items-center align-items-center">
                            <div class="col-8 p-0">
                                <p>Botas de Fútbol FG/AG</p>
                            </div>
                            <div class="col p-0 d-flex justify-content-end">
                                <img src="../img/star.svg" alt="" class="img-fluid"><img src="../img/star.svg" alt=""
                                    class="img-fluid"><img src="../img/star.svg" alt="" class="img-fluid"><img
                                    src="../img/star.svg" alt="" class="img-fluid"><img src="../img/star_medio.svg"
                                    alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="row preciop m-0 align-items-center">
                            <div class="col-12 p-0 py-2">
                                <p>S/ 299.99</p>
                            </div>
                            <div class="col-4 p-0">
                                <p class="l-rojo-k fw-bold">S/ 239.99</p>
                            </div>
                            <div class="col-1 p-0">
                                <img class="img-fluid m-0 p-0" src="../img/logo_kancha_club.svg" alt="logo_kancha_club">
                            </div>
                            <div class="col-7 p-0 d-flex justify-content-end align-items-center">
                                <button class="btn l-rojo-k d-flex align-items-center me-1 inib">Iniciar</button>
                                <button
                                    class="btn bg-rojo-k l-blanco-k d-flex align-items-center ms-1 unib">Unirse</button>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0">
                    </div>
                </div>
                <div class="row carrusp mb-2 d-block d-lg-none">
                    <div class="col-12 p-0 mb-2">
                        <img id="mainImage" class="main-image img-fluid" src="../img/foto (100).avif"
                            alt="Imagen Principal">
                    </div>
                    <div class="col-12 p-0 mb-2">
                        <div class="row m-0">
                            <div class="col thumbnail-item p-0 px-1">
                                <img class="img-fluid" src="../img/foto (100).avif" alt="Miniatura 1">
                            </div>
                            <div class="col thumbnail-item p-0 px-1">
                                <img class="img-fluid" src="../img/foto (101).avif" alt="Miniatura 1">
                            </div>
                            <div class="col thumbnail-item p-0 px-1">
                                <img class="img-fluid" src="../img/foto (102).avif" alt="Miniatura 2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row detap mb-2">
                    <div class="col p-0"></div>
                    <div class="col-10 p-0">
                        <div class="row mb-2">
                            <div class="col-12 mb-2">
                                <p class="l-negro-k">Similares / Colores</p>
                            </div>
                            <div class="col-12 coloimg">
                                <div class="row m-0">
                                    <div class="col-4 p-0 px-1">
                                        <a href="AdidasJr1.html"><img class="img-fluid" src="../img/foto (100).avif"
                                                alt="color1"></a>
                                    </div>
                                    <div class="col-4 p-0 px-1">
                                        <a href="AdidasJr2.html"><img class="img-fluid" src="../img/foto (103).avif"
                                                alt="color2"></a>
                                    </div>
                                    <div class="col-4 p-0 px-1">
                                        <a href="AdidasJr3.html"><img class="img-fluid" src="../img/foto (97).avif"
                                                alt="color2"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 mb-2">
                                <p class="l-negro-k">Selecciona tu Talla</p>
                            </div>
                            <div class="col-12">
                                <div class="row m-0">
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn disabled sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">16</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">16.5</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">17</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">17.5</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn disabled sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">18</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">18.5</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn disabled sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">19</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">19.5</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn disabled sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">20</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">20.5</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn disabled sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">21</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">21.5</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn disabled sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">22</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">22.5</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">23</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn bg-humo-k l-negro-k sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">23.5</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 pb-2">
                                        <button class="btn disabled sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3" id="talla">24</button>
                                    </div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-8 p-0 mb-2 px-1">
                                        <button type="button"
                                            class="btn p-0 d-flex align-items-center justify-content-start guiat"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Guía de Tallas
                                        </button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Guía de
                                                            Tallas</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 d-flex align-items-center p-0 mb-2">
                                        <p class="l-rojo-k stock">Disponible</p>
                                    </div>
                                    <div class="col-8 p-0 px-1 mb-2 anap">
                                        <button
                                            class="btn bg-rojo-k l-blanco-k d-flex align-items-center justify-content-center py-0 py-lg-3"
                                            id="anadir">Añadir al carrito</button>
                                    </div>
                                    <div class="col-4 p-0 px-1 mb-2 favp">
                                        <button class="btn p-0 d-flex align-items-center justify-content-center py-0 py-lg-3" id="favoritos"
                                        onclick="
                                            const nuevoProducto = {
                                                img: '../img/foto (100).avif',
                                                nombre: 'AdidasJr2',
                                                precio: 169.99,
                                                precioOferta: 109.99
                                            };
                                    
                                            let productos = JSON.parse(localStorage.getItem('productosFavoritos')) || [];
                                            const index = productos.findIndex(producto => producto.nombre === nuevoProducto.nombre);
                                    
                                            if (index > -1) {
                                                productos.splice(index, 1); // Eliminar producto si ya está en favoritos
                                                
                                            } else {
                                                productos.push(nuevoProducto); // Agregar producto a favoritos
                                              
                                            }
                                    
                                            localStorage.setItem('productosFavoritos', JSON.stringify(productos));
                                        ">
                                        <img class="img-fluid" src="../img/corazon.svg" alt="">
                                    </button>
                                    </div>
                                    <div class="col-12 p-0 mb-2 px-1">
                                        <button type="button"
                                            class="btn p-0 d-flex align-items-center justify-content-start guiat"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Detalles previos
                                        </button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles
                                                            previos</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 mb-2">
                                <p class="l-negro-k">Descripción</p>
                            </div>
                            <div class="col-12">
                                <div class="row m-0">
                                    <div class="col-12 descp px-1 mb-4">
                                        <p class="">Se han diseñado las botas Elite para los jugadores que aman el
                                            deporte, joyas ocultas que trabajan en la sombra cuando nadie mira. Esta
                                            edición especial de las Superfly 9 no es una excepción. Poseen un Swoosh
                                            metálico.</p>
                                    </div>
                                    <div class="col-12 px-1 mb-2">
                                        <div class="dropdown-container espep">
                                            <div class="dropdown-header espeph py-2 px-3" data-bs-toggle="collapse"
                                                data-bs-target="#dropdownContent" aria-expanded="false"
                                                aria-controls="dropdownContent">
                                                <span>Detalles</span>
                                            </div>
                                            <div id="dropdownContent" class="collapse dropdown-content p-2 pe-3">
                                                <ul>
                                                    <li>Color: Atmosphere Grey/Negro</li>
                                                    <li>Modelo Nike: FN5613-001</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 px-1 mb-2">
                                        <div class="dropdown-container espep">
                                            <div class="dropdown-header espeph py-2 px-3" data-bs-toggle="collapse"
                                                data-bs-target="#dropdownContent1" aria-expanded="false"
                                                aria-controls="dropdownContent1">
                                                <span>Especificaciones</span>
                                            </div>
                                            <div id="dropdownContent1" class="collapse dropdown-content p-2 pe-4">
                                                <ul>
                                                    <li>Entalladas: Diseñadas para adaptarse al pie, ofrecer una mayor
                                                        firmeza y otorgar una sensación natural de contacto.</li>
                                                    <li>Ajuste ceñido: Media deportiva interna, que otorga un ajuste
                                                        menos holgado.</li>
                                                    <li>Suela metalizada: Materiales resistentes y duraderos.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 px-1 mb-2">
                                        <div class="dropdown-container espep">
                                            <div class="dropdown-header espeph py-2 px-3" data-bs-toggle="collapse"
                                                data-bs-target="#dropdownContent2" aria-expanded="false"
                                                aria-controls="dropdownContent2">
                                                <span>Evaluaciones (2)</span>
                                            </div>
                                            <div id="dropdownContent2" class="collapse dropdown-content p-2 px-4">
                                                <div class="row m-0 califi mb-2">
                                                    <div class="col-5 d-flex justify-content-start p-0">
                                                        <img src="../img/star.svg" alt="" class="img-fluid"><img
                                                            src="../img/star.svg" alt="" class="img-fluid"><img
                                                            src="../img/star.svg" alt="" class="img-fluid"><img
                                                            src="../img/star.svg" alt="" class="img-fluid"><img
                                                            src="../img/star.svg" alt="" class="img-fluid">
                                                    </div>
                                                    <div class="col-7 d-flex justify-content-end p-0">
                                                        <p>cubasJaCris - 05 mayo 2024</p>
                                                    </div>
                                                    <div class="col-12 mt-2 p-0">
                                                        <p>Excelentes botas de fútbol, ​​el color da miedo y los
                                                            detalles del Swoosh son fantásticos, ahora también estoy
                                                            esperando la nueva versión.</p>
                                                    </div>
                                                </div>
                                                <div class="row m-0 califi">
                                                    <div class="col-5 d-flex justify-content-start p-0">
                                                        <img src="../img/star.svg" alt="" class="img-fluid"><img
                                                            src="../img/star.svg" alt="" class="img-fluid"><img
                                                            src="../img/star.svg" alt="" class="img-fluid"><img
                                                            src="../img/star.svg" alt="" class="img-fluid"><img
                                                            src="../img/star_vacio.svg" alt="" class="img-fluid">
                                                    </div>
                                                    <div class="col-7 d-flex justify-content-end p-0">
                                                        <p>angelloVillaB - 06 junio 2024</p>
                                                    </div>
                                                    <div class="col-12 mt-2 p-0">
                                                        <p>Han superado todas mis expectativas. Desde el momento en que
                                                            las saqué de la caja, me impresionó su diseño moderno y los
                                                            materiales de alta calidad.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0"></div>
                </div>
            </div>
        </div>

        <div id="usuario"></div>
        <div id="carrito"></div>
    </main>

    <footer id="footer"></footer>

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/ProductoSelect.js"></script>
    <script src="../js/headerfooter.js"></script>
    <script src="../js/opcionesUser.js"></script>
    <script src="../js/carrito.js"></script>
    <script src="../js/example.js"></script>

</body>

</html>