<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/cabezapie.css" />
    <link rel="stylesheet" href="../css/carrito.css" />
    <link rel="stylesheet" href="../css/carro.css">
    <link rel="stylesheet" href="../css/opcionesUser.css" />
    <link rel="icon" type="image/svg" href="../img/logo_kancha_club.svg" />
  </head>
  <body>
    <div id="header"></div>
    <div class="container-fluid">
      <nav>
        <ol class="breadcrumb">
          <li class="">
            <a href="index.html"><i class="fa-solid fa-house"></i> Inicio</a>
            &gt;
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="anillos.html">&nbsp;Carrito de Compras</a>
          </li>
        </ol>
      </nav>
      <div class="carrito row d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="resumen">
              <table id="tabla" class="tabla">
                <thead>
                  <tr>
                    <th scope="col-3">Imagen</th>
                    <th scope="col-4">Producto</th>
                    <th scope="col-1">Precio</th>
                    <th scope="col-2">Cantidad</th>
                    <th scope="col-1">Total</th>
                    <th scope="col-1"></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 codigoDescuento py-3 my-3 px-3 mx-2">
          <h5>CÓDIGO DE DESCUENTO</h5>
          <form class="row g-3">
            <div class="col-auto">
              <input
                type="text"
                class="form-control"
                id="codigoDescuento"
                placeholder="Ingresar código de cupón"
              />
            </div>
            <div class="col-auto">
              <button type="submit" class="botonDescuento btn mb-3">
                APLICAR
              </button>
            </div>
          </form>
          <p>Este código aplica a compras mayores a S/.150</p>
        </div>
        <div class="col-lg-5"></div>
        <div class="float-end resumenCompra col-lg-3 py-3 my-3 px-3 mx-2">
          <h5>RESUMEN DE COMPRA</h5>
          <p><b>Cliente:</b> <span>Baca Anderson Chuquimanco</span></p>
          <p id="total"><span></span></p>

          
          <a href="../html/Pago(1).html"><button type="submit" class="botonDescuento btn mb-3">Pagar</button></a>
        </div>
      </div>
    </div>
    <div id="usuario"></div>
    <div id="footer"></div>

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/headerfooter.js"></script>
    <script src="../js/opcionesUser.js"></script>
    <script src="../js/carro.js"></script>
    <script src="../js/productos.js"></script>
  </body>
</html>
