<footer class="text-center text-lg-start text-white bg-negro-k">
    <div class="row p-0 m-0 align-items-center bg-blanco-k py-2">
        <div class="col p-0">
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 p-0 logopie text-center">
            <a href="KanchaClub.html">
                <img src="../img/logo_kancha_club.svg" alt="logopie">
            </a>
        </div>
        <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12 p-0 accionpie d-flex justify-content-center my-lg-0 my-3">
            <p class="l-negro-k"><b>SÉ MIEMBRO DE KANCHA CLUB</b><br>Accede a descuentos únicos y ofertas exclusivas</p>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 p-0 unirsepie d-flex justify-content-center my-lg-0 my-3">
            <a class="d-flex align-items-center unirse" href="KanchaClub.html">
                <button class="btn bg-rojo-k l-blanco-k">UNIRSE</button>
            </a>
        </div>
        <div class="col p-0">
        </div>
    </div>
    <div>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ayudapie">
                    <h6 class="text-uppercase fw-bold">Ayuda</h6>
                    <br>
                    <p>
                    <a href="#!">Obtener</a>
                    </p>
                    <p>
                    <a href="#!">Pedidos y Devoluciones</a>
                    </p>
                    <p>
                    <a href="#!">Envíos y Entregas</a>
                    </p>
                    <p>
                    <a href="#!">Opciones de Pago</a>
                    </p>
                    <p>
                    <a href="#!">Guía de Tallas</a>
                    </p>
                    <p>
                    <a href="#!">Mapa del Sitio</a>
                    </p>
                    <p>
                    <a href="#!">Soporte en Linea</a>
                    </p>
                    <p>
                    <a href="#!">Dudas Frecuentes</a>
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ayudapie">
                    <h6 class="text-uppercase fw-bold">Productos</h6>
                    <br>
                    <p>
                    <a href="">Novedades</a>
                    </p>
                    <p>
                    <a href="#!">Outlet</a>
                    </p>
                    <p>
                    <a href="Marcas.html">Marcas</a>
                    </p>
                    <p>
                    <a href="KanchaClub.html">KanchaClub</a>
                    </p>
                    <p>
                    <a href="#!">KanchaCustom</a>
                    </p>
                    <br>
                    <p>
                    <a href=""><button class="btn"><img class="me-2" src="../img/lb.svg" alt="">Libro de Reclamaciones</button></a>
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ayudapie">
                    <h6 class="text-uppercase fw-bold">Empresa</h6>
                    <br>
                    <p>
                    <a href="#!">Acerca de Kancha</a>
                    </p>
                    <p>
                    <a href="#!">Novedades</a>
                    </p>
                    <p>
                    <a href="#!">Misión</a>
                    </p>
                    <p>
                    <a href="#!">Visión</a>
                    </p>
                    <p>
                    <a href="#!">Nuestra Historia</a>
                    </p>
                    <p>
                    <a href="#!">Contáctanos</a>
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4 ayudapie">
                    <h6 class="text-uppercase fw-bold">Redes Kancha</h6>
                    <br>
                    <p><a href="Contactanos.html"><img class="me-2" src="../img/fb.svg" alt="fb">KanchaPeru</a><p>
                    <p><a href="Contactanos.html"><img class="me-2" src="../img/ig.svg" alt="ig">@kanchape</a><p>
                    <p><a href="http://wa.me/+51971133030" target="_blank"><img class="me-2" src="../img/wsp.svg" alt="wsp">+51 971133030</a><p>
                    <p><a href="Contactanos.html"><img class="me-2" src="../img/tw.svg" alt="tw">@kanchaperu</a><p>
                    <p><a href="mailto:villasis267@gmail.com" target="_blank"><img class="me-2" src="../img/gm.svg" alt="gm">kancha@gmail.com</a><p>
                    <p><a href="https://discord.gg/ZN7QpCCb" target="_blank"><img class="me-2" src="../img/dc.svg" alt="dc">Kancha Club</a><p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-rojo-k legalpie">
        <p>
            <a class="mx-4" href="">Configuración de Cookies</a>|
            <a class="mx-4" href="">Términos y Condiciones</a>|
            <a class="mx-4" href="">Política de Privacidad</a>|
            <a class="mx-4" href="">Preguntas Frecuentes</a>|
            <a class="mx-4" href="">Nuestros Datos</a>
        </p>
        <br>
        <div class="d-md-flex d-block justify-content-center">
            <p class="mx-4">
                Copyright © 2024 Grupo 5 Kancha.pe
            </p>
            <p class="mx-4">
                Av. San Josemaría Escriva de Balaguer 855, Chiclayo 14012
            </p>
        </div>
    </div>
</footer>