<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='../static/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='../static/css/main.css')}}"
    />
    <title>Kancha - {% block title%}{% endblock %}</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <img src="{{url_for('static',filename='../static/img/logo_kancha_encabezado.svg')}}" alt="" id="logo" />
        <li>
          <h2>News</h2>
          <div class="ocultar">
            <img
              src="https://i.blogs.es/1f23df/converse-presenta-la-suela-mas-dramatica-que-veras-en-sus-zapatillas-hasta-ahora-run-star-motion/original.jpeg"
              alt=""
            />
            <div>
              <ul>
                <li><h3 class="seccion">HOMBRE</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">MUJERES</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">NIÑOS</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">Próximas Ofertas</h3></li>
                <li><h3 class="seccion">Próximos lanzamientos</h3></li>
                <li><h3 class="seccion">Eventos deportivos</h3></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <h2>Hombre</h2>
          <div class="ocultar">
            <img
              src="https://www.peregrinoteca.pt/uploads/media/images/zapatillas-adidas-terrex-ax4-gtx-w-gris-negro-1.jpg"
              alt=""
            />
            <div>
              <ul>
                <li><h3 class="seccion">HOMBRE</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">MUJERES</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">NIÑOS</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">Próximas Ofertas</h3></li>
                <li><h3 class="seccion">Próximos lanzamientos</h3></li>
                <li><h3 class="seccion">Eventos deportivos</h3></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <h2>Mujer</h2>
          <div class="ocultar">
            <img
              src="https://home.ripley.com.pe/Attachment/WOP_5/2084279943594/2084279943594_2.jpg"
              alt=""
            />
            <div>
              <ul>
                <li><h3 class="seccion">HOMBRE</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">MUJERES</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">NIÑOS</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">Próximas Ofertas</h3></li>
                <li><h3 class="seccion">Próximos lanzamientos</h3></li>
                <li><h3 class="seccion">Eventos deportivos</h3></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <h2>Niños</h2>
          <div class="ocultar">
            <img
              src="https://realplaza.vtexassets.com/arquivos/ids/30146701/imageUrl_1.jpg?v=637965680541730000"
              alt=""
            />
            <div>
              <ul>
                <li><h3 class="seccion">HOMBRE</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">MUJERES</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">NIÑOS</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">Próximas Ofertas</h3></li>
                <li><h3 class="seccion">Próximos lanzamientos</h3></li>
                <li><h3 class="seccion">Eventos deportivos</h3></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <h2>Deportes</h2>
          <div class="ocultar">
            <img
              src="https://www.stockcenter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dw5aea3e11/products/NI_DD9284-400/NI_DD9284-400-1.JPG"
              alt=""
            />
            <div>
              <ul>
                <li><h3 class="seccion">HOMBRE</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">MUJERES</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">NIÑOS</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">Próximas Ofertas</h3></li>
                <li><h3 class="seccion">Próximos lanzamientos</h3></li>
                <li><h3 class="seccion">Eventos deportivos</h3></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <h2>Ofertas</h2>
          <div class="ocultar">
            <img
              src="https://home.ripley.com.pe/Attachment/WOP_5/2025301941430/2025301941430_2.jpg"
              alt=""
            />
            <div>
              <ul>
                <li><h3 class="seccion">HOMBRE</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">MUJERES</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">NIÑOS</h3></li>
                <li>Zapatillas</li>
                <li>Ropa</li>
                <li>Accesorios</li>
              </ul>
            </div>
            <div>
              <ul>
                <li><h3 class="seccion">Próximas Ofertas</h3></li>
                <li><h3 class="seccion">Próximos lanzamientos</h3></li>
                <li><h3 class="seccion">Eventos deportivos</h3></li>
              </ul>
            </div>
          </div>
        </li>
        <div class="row">
          <button id="buscar" class="col">
            <img src="{{url_for('static',filename='../static/img/buscar.svg')}}" alt="" />
          </button>
          <button id="carrito" class="col">
            <img src="{{url_for('static',filename='../static/img/carrito.svg')}}" alt="" />
          </button>
          <button id="usuario" class="col">
            <img src="{{url_for('static',filename='../static/img/usuario.svg')}}" alt="" />
          </button>
        </div>
      </ul>
    </nav>
    {% block contenido %}{% endblock %}
    <footer>
      <div id="ctn_opciones_footer">
        <div class="categorias">
          <h3>PRODUCTOS</h3>
          <br />
          <ul>
            <li><a href="">Calzado</a></li>
            <li><a href="">Zapatillas</a></li>
            <li><a href="">Ropa</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="">Novedades</a></li>
            <li><a href="">Outlet</a></li>
            <li><a href="">Kancha club</a></li>
            <li><a href="">Marcas</a></li>
          </ul>
        </div>
        <div class="categorias">
          <h3>ASISTENCIA</h3>
          <br />
          <ul>
            <li><a href="">Estado del pedido</a></li>
            <li><a href="">Envíos y entregas</a></li>
            <li><a href="">Devoluciones</a></li>
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">Guía de Tallas</a></li>
            <li><a href="">Mapa del sitio</a></li>
            <li><a href="">Manual de Usuario</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Opciones de Pago</a></li>
          </ul>
        </div>
        <div class="categorias" id="union_apartados">
          <div>
            <h3>EMPRESA</h3>
            <br />
            <ul>
              <li><a href="">Acerca de Kancha</a></li>
              <li><a href="">Novedades</a></li>
              <li><a href="">Misión</a></li>
              <li><a href="">Visión</a></li>
              <li><a href="">Nuestra Historia</a></li>
              <li><a href="">Tienda</a></li>
            </ul>
          </div>
          <div>
            <h3>DEPORTES</h3>
            <br />
            <ul>
              <li><a href="">Futbol</a></li>
              <li><a href="">Basquet</a></li>
              <li><a href="">Atletismo</a></li>
              <li><a href="">Entrenamiento</a></li>
              <li><a href="">Kancha Club</a></li>
            </ul>
          </div>
          <a href="" id="reclamaciones"
            ><ion-icon name="book"></ion-icon>Libro de Reclamaciones</a
          >
        </div>
        <div class="categorias">
          <h3>DEPORTES</h3>
          <br />
          <ul>
            <li>
              <a href=""
                ><ion-icon name="logo-facebook"></ion-icon> Kancha Perú</a
              >
            </li>
            <li>
              <a href=""
                ><ion-icon name="logo-instagram"></ion-icon> @kanchape</a
              >
            </li>
            <li>
              <a href=""
                ><ion-icon name="logo-whatsapp"></ion-icon>+51 977329287</a
              >
            </li>
            <li>
              <a href=""><ion-icon name="logo-twitter"></ion-icon>@kanchape</a>
            </li>
            <li>
              <a href=""><ion-icon name="mail"></ion-icon> kancha@usat.pe</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="ctn_final">
        <ul>
          <li><a href="">Configuracion de cookies</a></li>
          <hr />
          <li><a href="">Terminos y Condiciones</a></li>
          <hr />
          <li><a href="">Politicas de Privacidad</a></li>
          <hr />
          <li><a href="">Preguntas Frecuentes</a></li>
          <hr />
          <li><a href="">Nuestros Datos</a></li>
        </ul>
        <div>
          <p>
            Copyright © 2024 Kancha.pe
            <span id="ubicacion"
              >Av. San Josemaría Escriva de Balaguer 855, Chiclayo 14012</span
            >
          </p>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='../static/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
