<div class="user-dropdown-content" id="user-dropdown-content">
    <a href="../html/MiPerfil.html"><span>Mi perfil</span> <img src="../img/usuario.svg" class="icon" alt="icono-perfil"></a>
    <a href="../html/MisPedidos.html"><span>Mis pedidos</span> <img src="../img/box-solid.svg" class="icon" alt="icono-pedidos"></a>
    <a href="../html/MisFavoritos.html"><span>Mis favoritos</span> <img src="../img/corazon.svg" class="icon" alt="icono-favoritos"></a>
    <a href="../html/SoporteTecnico.html"><span>Ayuda</span> <img src="../img/buscar.svg" class="icon" alt="icono-ayuda"></a>
    <a href="#cerrar-sesion"><span>Cerrar sesión</span> <img src="../img/circle-arrow-right-solid.svg" class="icon" alt="icono-cerrar-sesion"></a>
</div>