{% extends "maestradashboard.html" %}

{% block titulomantenimiento %}
Agregar Categoria
{% endblock %}

{% block mantenimiento %}
<!-- Enlace al archivo CSS del modal -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">

<section class="section container my-5">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar Categoria</h3>

            <!-- Formulario para agregar una categoría -->
            <form action="{{ url_for('guardar_categoria') }}" method="post" id="categoriaForm">
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <br><br>

                <button type="button" id="openModalButton" class="btn bg-azul-k mt-2">Guardar</button>
                <a href="{{ url_for('categoria') }}" class="bg-azul-k">Volver</a>
            </form>
        </div>
    </div>

    <!-- Estructura del Modal de Confirmación -->
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <h2>¿Estás seguro de continuar?</h2>
            <p>Esta acción guardará la categoría. ¿Deseas continuar?</p>
            <button id="confirmButton" class="btn">Sí, Guardar</button>
            <button id="cancelButton" class="btn">Cancelar</button>
        </div>
    </div>
    
</section>

<!-- Enlace al archivo JavaScript -->
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}

