{% extends "maestradashboard.html" %}

{% block titulomantenimiento %}
Agregar Categoria
{% endblock %}

{% block mantenimiento %}
<!-- Enlace al archivo CSS del modal -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">


<div class="columns">
    <div class="column is-one-third">
        <div style="display: flex; justify-content: flex-end;">
            <a class="d-flex align-items-center me-2 regresar" href="{{url_for('categoria')}}" style="text-decoration: none;">
                <button class="btn bg-rojo-k me-2 d-flex align-items-center">
                    <img class="img-fluid" src="{{url_for('static',filename='img/fr.svg')}}" alt="" style="max-height: 32px;"> <!-- Ajusta el tamaño de la imagen si es necesario -->
                </button>
                <label class="l-rojo-k" for="regresar" style="margin: 0;">Volver</label>
            </a>
        </div>
        <!-- Formulario para agregar una categoría -->
        <form action="{{ url_for('guardar_categoria') }}" method="post" id="categoriaForm">
            <label for="nombre">Nombre:</label>
            <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
            <br><br>
            <button type="button" data-form-id="categoriaForm" class="button is-success mt-2 openModalButton">Guardar</button>
        </form>        
    </div>
</div>

<!-- Estructura del Modal de Confirmación -->
<div id="confirmationModal" class="modal">
        <div class="modal-content">
            <h2>¿Estás seguro de continuar?</h2>
            <p>Esta acción guardará la categoría. ¿Deseas continuar?</p>
            <button id="confirmButton" class="btn">Sí, Guardar</button>
            <button id="cancelButton" class="btn">Cancelar</button>
        </div>
</div>


<!-- Enlace al archivo JavaScript -->
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
