{% extends "maestra.html" %} {% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='css/carro.css')}}" />
{% endblock %} {% block contenido %}
<div class="container my-5">
  {% if lista %}
  <!-- Modal para mostrar errores -->
  <div
    class="modal fade"
    id="modalErrorCantidad"
    tabindex="-1"
    aria-labelledby="modalErrorCantidadLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalErrorCantidadLabel">
            Error en la cantidad
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" id="modalErrorCantidadBody">
          <!-- Aquí se mostrará el mensaje de error -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <table style="text-align: center" class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th style="width: 25%">Nombre</th>
        <th style="width: 10%">Cantidad</th>
        <th style="width: 10%">Precio</th>
        <th style="width: 20%">Imagen</th>
        <th style="width: 15%">Subtotal</th>
        <th style="width: 5%"></th>
      </tr>
    </thead>

    <tbody>
      {% for detalle in lista %}
      <tr id="producto-{{detalle[9]}}">
        <td>{{ detalle[2] }} Talla:{{ detalle[3] }}</td>
        <td>
          <div class="d-flex justify-content-center align-items-center">
            <!-- Botón para disminuir cantidad -->
            <button
              id="menos-{{detalle[9]}}"
              onclick="actualizarCantidad('{{detalle[9]}}', '{{detalle[9]}}', '{{detalle[8]}}', 'menos')"
              class="btn btn-sm"
              style="color: white; background-color: rgb(255, 29, 37)"
            >
              -
            </button>

            <!-- Span para mostrar cantidad actual -->
            <span id="cantidad-{{detalle[9]}}" class="mx-2"
              >{{ detalle[5] }}</span
            >

            <!-- Botón para aumentar cantidad -->
            <button
              id="mas-{{detalle[9]}}"
              onclick="actualizarCantidad('{{detalle[9]}}', '{{detalle[9]}}', '{{detalle[8]}}', 'mas')"
              class="btn btn-sm"
              style="color: white; background-color: rgb(255, 29, 37)"
            >
              +
            </button>
          </div>
        </td>
        <td>{{ detalle[4] }}</td>
        <td>
          <img
            id="imgcarrito"
            src="{{ url_for('static', filename='img/' + detalle[6]) }}"
            alt=""
            style="max-width: 100px; height: auto"
          />
        </td>
        <!-- Subtotal, se actualizará dinámicamente -->
        <td>
          <span id="subtotal-{{detalle[9]}}"
            >{{ detalle[4] * detalle[5] }}</span
          >
        </td>
        <td>
          <form action="{{ url_for('eliminar_detalle_venta') }}" method="POST">
            <input type="hidden" name="id_det_vta" value="{{detalle[0]}}" />
            <input type="hidden" name="id_producto" value="{{detalle[9]}}" />
            <input type="hidden" name="id_carrito" value="{{detalle[8]}}" />
            <button type="submit" class="btn btn-danger btn-sm">X</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <center>
    <a href="{{url_for('redirigirPago')}}"
      ><button class="btn bg-rojo-k l-blanco-k">IR A PAGAR</button></a
    >
  </center>
  {% else %}
  <div style="height: 15vw; padding-top: 7.5vw; text-align: center">
    <h3>Carrito vacío</h3>
  </div>
  {% endif %}
</div>
{% endblock %} {% block js %}
<script src="{{url_for('static', filename='js/carro.js')}}"></script>
{% endblock %}
