<!-- <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kancha</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/productoselect.css">
    <link rel="stylesheet" href="../css/cabezapie.css">
    <link rel="stylesheet" href="../css/carrito.css">
    <link rel="stylesheet" href="../css/opcionesUser.css">
    <link rel="icon" type="image/svg" href="../img/logo_kancha_club.svg">
</head> -->
{% extends "maestra.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/opcionesUser.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/productoselect.css') }}">
{% endblock %}

{% block title %}Detalle Producto{% endblock %}

{% block contenido %}
<main class="mt-3">
    <div class="row m-0 py-4">
        <div class="col p-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
            <a class="d-flex align-items-center me-2 regresar" href="{{url_for('seccionProductos')}}">
                <button class="btn bg-rojo-k me-2 d -flex"><img class="img-fluid"
                        src="{{url_for('static',filename='img/fr.svg')}}" alt=""></button><label class="l-rojo-k"
                    for="regresar">Regresar</label>
            </a>
            <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a class="l-gris-k" href="{{url_for('inicio')}}">Inicio</a></li>
                            <li class="breadcrumb-item"><a class="l-gris-k" href="#">{{producto[5]}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="l-gris-k"
                                    href="#">Calzado</a></li>
                        </ol>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="col p-0"></div>
    </div>
    <div class="row m-0 py-2">
        <!-- Imagen Principal y las tres secundarias -->
        <div
            class="col-12 order-2 px-1 col-md-10 offset-md-1 col-lg-5 offset-lg-1 order-lg-1 px-lg-5 col-xl-5 offset-xl-1">
            <div class="row carrusp mb-2 d-none d-lg-block">
                <div class="col-12 p-0 mb-2">
                    <img id="mainImage2" class="main-image img-fluid"
                        src="{{url_for('static',filename='img/' + producto[8])}}" alt="Imagen Principal">
                </div>
                <div class="col-12 p-0 mb-2">
                    <div class="row m-0">
                        <div class="col thumbnail-item p-0 px-1">
                            <img class="img-fluid" src="{{url_for('static',filename='img/' + producto[9])}}"
                                alt="Miniatura 1">
                        </div>
                        <div class="col thumbnail-item p-0 px-1">
                            <img class="img-fluid" src="{{url_for('static',filename='img/' + producto[10])}}"
                                alt="Miniatura 2">
                        </div>
                        <div class="col thumbnail-item p-0 px-1">
                            <img class="img-fluid" src="{{url_for('static',filename='img/' + producto[11])}}"
                                alt="Miniatura 3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row kclub m-0 mb-3">
                <div class="col-12 background-div">
                    <div class="overlay-div">
                        <img src="{{url_for('static',filename='img/kancha_club.svg')}}" class="img-fluid mb-3"
                            alt="Overlay Image">
                        <a href="{{url_for('kancha_club')}}" class="d-flex justify-content-center">
                            <button
                                class="btn bg-rojo-k l-blanco-k d-flex justify-content-center align-items-center">UNIRSE</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row extrap m-0 mb-2">
                <div class="col-12">
                    <div class="row mb-2">
                        <div class="col-12 mb-3">
                            <p class="l-negro-k">También podría <b class="l-rojo-k">Gustarte</b></p>
                        </div>
                        <div class="col-12">
                            <div class="row m-0">

                                {% if productos_gustarte %}
                                {% for prod in productos_gustarte %}
                                <div class="col-4 p-0 px-1 extrac">
                                    <a href="{{ url_for('detalle_producto', id=prod[0]) }}"><img class="img-fluid pb-2"
                                            src="{{ url_for('static', filename='img/' ~ prod[8]) }}" alt="color1"></a>
                                    <div class="row">
                                        <div class="col-12 mb-1">
                                            <p>{{producto[7]}} {{producto[3]}}</p>
                                        </div>
                                        <div class="col-6 pe-0">
                                            <p class="text-start"><b>S/{{((producto[1] | float)*0.85)| round(2)}}</b>
                                            </p>
                                        </div>
                                        <div class="col-6 ps-0">
                                            <p class="text-end"><b><s>S/ {{producto[1]}}
                                                    </s></b></p>
                                        </div>
                                        <div class="col-8 pe-0 my-1">
                                            <p class="text-start l-rojo-k"><b>S/ {{((producto[1] | float)*0.50 )|
                                                    round(2)}}</b></p>
                                        </div>
                                        <div class="col-4 ps-0 d-flex justify-content-end my-1">
                                            <img class="klo"
                                                src="{{ url_for('static',filename='img/logo_kancha_club.svg')}}" alt="">
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <p>No hay productos similares a este.</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 order-1 px-1 col-md-10 offset-md-1 col-lg-5 offset-lg-0 order-lg-2 px-lg-1 col-xl-5">
            <div class="row infop mb-2">
                <div class="col p-0">
                </div>
                <div class="col-10 p-0">
                    <!-- Zapatillas + Marca y valoración textual-->
                    <div class="row lineap m-0 mb-2 align-items-center">
                        <div class="col p-0">
                            <p>Zapatillas {{producto[14]}}</p>
                        </div>
                        <div class="col p-0 text-end">
                            <p>(4.5 / 5.0)</p>
                        </div>
                    </div>
                    <!-- Nombre del producto y logo de la marca -->
                    <div class="row nombrep m-0 mb-2 align-items-center">
                        <div class="col-10 p-0">
                            <p class="l-negro-k">{{ producto[7] }} {{producto[3]}}</p>
                        </div>
                        <div class="col p-0">
                            <img src="{{ url_for('static', filename='img/' + producto[15]) }}" alt="Logo de la marca"
                                style="width: 50px; height: auto;">
                        </div>
                    </div>
                    <!-- Estrellas del producto -->
                    <div class="row mindep mx-0 mb-2 align-items-center align-items-center">
                        <div class="col p-0 d-flex justify-content-end">
                            <img src="{{url_for('static',filename='img/star.svg')}}" alt="hola" class="img-fluid"><img
                                src="{{url_for('static',filename='img/star.svg')}}" alt="hola" class="img-fluid"><img
                                src="{{url_for('static',filename='img/star.svg')}}" alt="" class="img-fluid"><img
                                src="{{url_for('static',filename='img/star.svg')}}" alt="" class="img-fluid"><img
                                src="{{url_for('static',filename='img/star_medio.svg')}}" alt="" class="img-fluid">
                        </div>
                    </div>

                    <!-- Fila del precio del logo de Kancha, de iniciar y unirse -->
                    <div class="row preciop m-0 align-items-center">
                        <div class="col-12 p-0 py-2">
                            <p>S/{{producto[1]}}</p>
                        </div>
                        <div class="col-4 p-0">
                            <p class="l-rojo-k fw-bold">S/{{((producto[1] | float)*0.85)| round(2)}}</p>
                        </div>
                        <div class="col-1 p-0">
                            <img class="img-fluid m-0 p-0"
                                src="{{url_for('static',filename='img/logo_kancha_club.svg')}}" alt="logo_kancha_club">
                        </div>
                        <div class="col-7 p-0 d-flex justify-content-end align-items-center">
                            <button class="btn l-rojo-k d-flex align-items-center me-1 inib">Iniciar</button>
                            <button class="btn bg-rojo-k l-blanco-k d-flex align-items-center ms-1 unib">Unirse</button>
                        </div>
                    </div>
                </div>
                <div class="col p-0">
                </div>
            </div>
            <div class="row carrusp mb-2 d-block d-lg-none">
            </div>
            <div class="row detap mb-2">
                <div class="col p-0"></div>
                <div class="col-10 p-0">
                    <!-- Colores similares -->
                    <div class="row mb-2">
                        <div class="col-12 mb-2">
                            <p class="l-negro-k">Similares / Colores</p>
                        </div>
                        <div class="col-12 coloimg">
                            <div class="row m-0">
                                {% if colores_similares %}
                                {% for prod_color in colores_similares %}
                                <div class="col-4 p-0 px-1">
                                    <a href="{{ url_for('detalle_producto', id=prod_color[0]) }}">
                                        <img class="img-fluid"
                                            src="{{ url_for('static', filename='img/' ~ prod_color[3]) }}" alt="color1">
                                    </a>
                                </div>
                                {% endfor %}
                                {% else %}
                                <p>No hay productos con colores similares para este producto.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 mb-2">
                            <p class="l-negro-k">Selecciona tu Talla</p>
                        </div>
                        <div class="col-12">
                            <div class="row m-0">
                                {% for size in producto_tallas %}
                                <div class="col-4 p-0 px-1 pb-2">
                                    <a href="{{ url_for('detalle_producto', id=size[0]) }}"
                                        class="btn {{ 'disabled' if size[2] <= 0 else 'bg-humo-k l-negro-k' }} sizebtn d-flex align-items-center justify-content-center py-0 py-lg-3"
                                        {% if size[2] <=0 %}onclick="return false;" {% endif %}>{{ size[1] }}</a>
                                </div>

                                {% endfor %}
                            </div>

                            <div class="row m-0">
                                <div class="col-8 p-0 mb-2 px-1">
                                    <button type="button"
                                        class="btn p-0 d-flex align-items-center justify-content-start guiat"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Guía de Tallas
                                    </button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Guía de
                                                        Tallas</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex align-items-center p-0 mb-2">
                                    <p class="l-rojo-k stock">
                                        {% if producto[2] > 0 %}
                                        <span class="text-success">Disponible</span>
                                        {% else %}
                                        <span class="text-danger">No disponible</span>
                                        {% endif %}

                                    </p>
                                </div>
                                <div class="col-8 p-0 px-1 mb-2 anap">
                                    <form action="{{url_for('anadir_carrito')}}" method="post">
                                        <input type="hidden" name="id_producto" value="{{producto[0]}}">
                                        <input type="hidden" name="nombre" value="{{producto[7]}} {{producto[3]}}">
                                        <input type="hidden" name="precio" value="{{producto[1]}}">
                                        <input type="hidden" name="cantidad" value="1">
                                        <button
                                            class="btn bg-rojo-k l-blanco-k d-flex align-items-center justify-content-center py-0 py-lg-3"
                                            id="anadir" type="submit">Añadir al carrito</button>
                                    </form>
                                </div>
                                <div class="col-4 p-0 px-1 mb-2 favp">
                                    {% if usuario %}
                                    {% if producto[0] in favoritos %}
                                    <!-- Producto ya está en favoritos -->
                                    <button
                                        class="btn p-0 d-flex align-items-center justify-content-center py-0 py-lg-3"
                                        cliente-id="{{ usuario['idUsuario'] }}" data-id="{{ producto[0] }}"
                                        onclick="toggleFavoritedp(this)">
                                        <img class="img-fluid"
                                            src="{{ url_for('static', filename='img/corazonLleno.svg') }}"
                                            data-corazon-lleno="{{ url_for('static', filename='img/corazonLleno.svg') }}"
                                            data-corazon-vacio="{{ url_for('static', filename='img/corazonVacio.svg') }}"
                                            alt="heart">
                                    </button>
                                    {% else %}
                                    <!-- Producto no está en favoritos -->
                                    <button
                                        class="btn p-0 d-flex align-items-center justify-content-center py-0 py-lg-3"
                                        cliente-id="{{ usuario['idUsuario'] }}" data-id="{{ producto[0] }}"
                                        onclick="toggleFavoritedp(this)">
                                        <img class="img-fluid"
                                            src="{{ url_for('static', filename='img/corazonVacio.svg') }}"
                                            data-corazon-lleno="{{ url_for('static', filename='img/corazonLleno.svg') }}"
                                            data-corazon-vacio="{{ url_for('static', filename='img/corazonVacio.svg') }}"
                                            alt="heart">
                                    </button>
                                    {% endif %}
                                    {% else %}
                                    <!-- Usuario no ha iniciado sesión -->
                                    <button
                                        class="btn p-0 d-flex align-items-center justify-content-center py-0 py-lg-3"
                                        disabled>
                                        <img class="img-fluid"
                                            src="{{ url_for('static', filename='img/corazonVacio.svg') }}" alt="heart">
                                    </button>
                                    <p class="text-muted" style="font-size: 0.75rem;">Inicia sesión para agregar a
                                        favoritos.</p>
                                    {% endif %}
                                </div>
                                <div class="col-12 p-0 mb-2 px-1">
                                    <button type="button"
                                        class="btn p-0 d-flex align-items-center justify-content-start guiat"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Detalles previos
                                    </button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles
                                                        previos</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 mb-2">
                            <p class="l-negro-k">Descripción</p>
                        </div>

                        <!-- Posterior a añadir al carrito y a favoritos -->
                        <div class="col-12">
                            <div class="row m-0">
                                <!-- Seccion de descripción -->
                                <div class="col-12 descp px-1 mb-4">
                                    <p class="">{{producto[12]}}</p>
                                </div>
                                <div class="col-12 px-1 mb-2">
                                    <!-- Seccion de detalles -->
                                    <div class="dropdown-container espep">
                                        <div class="dropdown-header espeph py-2 px-3" data-bs-toggle="collapse"
                                            data-bs-target="#dropdownContent" aria-expanded="false"
                                            aria-controls="dropdownContent">
                                            <span>Detalles</span>
                                        </div>
                                        <div id="dropdownContent" class="collapse dropdown-content p-2 pe-3">
                                            <ul>
                                                <li>Color: {{producto[4]}}</li>
                                                <li>Modelo {{producto[14]}}: {{producto[3]}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 px-1 mb-2">
                                    <!-- Seccion de reseñas -->
                                    <div class="dropdown-container espep">
                                        <div class="dropdown-header espeph py-2 px-3" data-bs-toggle="collapse"
                                            data-bs-target="#dropdownContent2" aria-expanded="false"
                                            aria-controls="dropdownContent2">
                                            <span>Evaluaciones (2)</span>
                                        </div>
                                        <div id="dropdownContent2" class="collapse dropdown-content p-2 px-4">
                                            <!-- Primera reseña: -->
                                            <div class="row m-0 califi mb-2">
                                                <div class="col-5 d-flex justify-content-start p-0">
                                                    <img src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid"><img
                                                        src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid"><img
                                                        src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid"><img
                                                        src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid"><img
                                                        src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid">
                                                </div>
                                                <div class="col-7 d-flex justify-content-end p-0">
                                                    <p>cubasJaCris - 05 mayo 2024</p>
                                                </div>
                                                <div class="col-12 mt-2 p-0">
                                                    <p>Excelentes botas de fútbol, ​​el color da miedo y los
                                                        detalles del Swoosh son fantásticos, ahora también estoy
                                                        esperando la nueva versión.</p>
                                                </div>
                                            </div>
                                            <!-- Segunda reseña: -->
                                            <div class="row m-0 califi">
                                                <div class="col-5 d-flex justify-content-start p-0">
                                                    <img src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid"><img
                                                        src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid"><img
                                                        src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid"><img
                                                        src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid"><img
                                                        src="{{ url_for('static', filename='img/star.svg') }}" alt=""
                                                        class="img-fluid">
                                                </div>
                                                <div class="col-7 d-flex justify-content-end p-0">
                                                    <p>ositoConBotas23 - 06 junio 2024</p>
                                                </div>
                                                <div class="col-12 mt-2 p-0">
                                                    <p>Han superado todas mis expectativas. Desde el momento en que
                                                        las saqué de la caja, me impresionó su diseño moderno y los
                                                        materiales de alta calidad.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col p-0"></div>
            </div>
        </div>
    </div>


    {% endblock %}

    {% block js %}
    <script src="{{url_for('static',filename='js/ProductoSelect.js')}}"></script>

    {% endblock %}