{% extends "maestradashboard.html" %}
{% block titulomantenimiento %}Editar Producto{% endblock %}
{% block mantenimiento %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar Producto</h3>
            <form action="{{ url_for('actualizar_producto') }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ producto[0] }}">

                <label for="precio">Precio:</label>
                <input type="number" name="precio" value="{{ producto[1] }}" class="input" step="0.01" required>

                <label for="stock">Stock:</label>
                <input type="number" name="stock" value="{{ producto[2] }}" class="input" required>

                <label for="vigencia">Vigente:</label>
                <input type="checkbox" id="vigencia" name="vigencia" value="1" 
                {% if producto[13] == 'A' %} checked {% endif %}>


                <label for="idModelo">Modelo:</label>
                <select name="idModelo" class="input" required>
                    {% for modelo in modelos %}
                    <option value="{{ modelo[0] }}" {% if producto[4] == modelo[0] %} selected {% endif %}>{{ modelo[1] }}</option>
                    {% endfor %}
                </select>

                <label for="idTalla">Talla:</label>
                <select name="idTalla" class="input" required>
                    {% for talla in tallas %}
                    <option value="{{ talla[0] }}" {% if producto[5] == talla[0] %} selected {% endif %}>{{ talla[1] }}</option>
                    {% endfor %}
                </select>
                <label for="idGenero">Genero:</label>
                <select name="idGenero" class="input" required>
                    {% for genero in generos %}
                    <option value="{{ genero[0] }}" {% if producto[4] == genero[0] %} selected {% endif %}>{{ genero[1] }}</option>
                    {% endfor %}
                </select>
                
                <label for="idTipo">Tipo de producto:</label>
                <select name="idTipo" class="input" required>
                    {% for tipo in tipos %}
                    <option value="{{ tipo[0] }}" {% if producto[4] == tipo[0] %} selected {% endif %}>{{ tipo[1] }}</option>
                    {% endfor %}
                </select>

                <label for="descripcion">Descripcion:</label>
                <textarea id="descripcion" name="descripcion" rows="4" cols="50">{{ producto[12] }}</textarea><br><br>


                <label for="imagenPrincipal">Cambiar Imagen Principal:</label>
                <input type="file" name="imagenPrincipal" class="input">
                <img src="{{ url_for('static', filename='img/' + producto[8]) }}" width="100">

                <label for="imagenesSecundarias">Cambiar Imágenes Secundarias:</label>
                <input type="file" name="imagenesSecundarias" class="input" multiple>
                <div>
                    <img src="{{ url_for('static', filename='img/' + producto[9]) }}" width="50">
                    <img src="{{ url_for('static', filename='img/' + producto[10]) }}" width="50">
                    <img src="{{ url_for('static', filename='img/' + producto[11]) }}" width="50">
                </div>

                <label for="colores">Colores:</label>
                <select name="colores" class="input" multiple required>
                    {% for color in colores %}
                    <option value="{{ color[0] }}" {% if color[0] in producto_colores %} selected {% endif %}>{{ color[1] }}</option>
                    {% endfor %}
                </select>

                <label for="categorias">Categorías:</label>
                <select name="categorias" class="input" multiple required>
                    {% for categoria in categorias %}
                    <option value="{{ categoria[0] }}" {% if categoria[0] in producto_categorias %} selected {% endif %}>{{ categoria[1] }}</option>
                    {% endfor %}
                </select>

                


                <button type="submit" class="button is-success mt-2">Guardar</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
