{% extends "maestradashboard.html" %}
{% block titulomantenimiento %}Editar Producto{% endblock %}
{% block mantenimiento %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">

<div class="columns">
    <div class="column">
        <div style="display: flex; justify-content: flex-end;">
            <a class="d-flex align-items-center me-2 regresar" href="{{ url_for('formulario_producto') }}" style="text-decoration: none;">
                <button class="btn bg-rojo-k me-2 d-flex align-items-center">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/fr.svg') }}" alt="" style="max-height: 32px;"> <!-- Ajusta el tamaño de la imagen si es necesario -->
                </button>
                <label class="l-rojo-k" for="regresar" style="margin: 0;">Volver</label>
            </a>
        </div>
        <form id="productoForm" action="{{ url_for('actualizar_producto') }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ producto[0] }}">
            <label for="precio">Precio:</label>
            <input type="number" name="precio" value="{{ producto[1] }}" class="input" step="0.01" required>
            <label for="stock">Stock:</label>
            <input type="number" name="stock" value="{{ producto[2] }}" class="input" required>
            <label for="vigencia">Vigente:</label>
            <input type="checkbox" id="vigencia" name="vigencia" value="1" {% if producto[13] == 'A' %} checked {% endif %}>
            <label for="idModelo">Modelo:</label>
            <select name="idModelo" class="input" required>
                {% for modelo in modelos %}
                <option value="{{ modelo[0] }}" {% if producto[4] == modelo[0] %} selected {% endif %}>{{ modelo[1] }}</option>
                {% endfor %}
            </select>
            <label for="idTalla">Talla:</label>
            <select name="idTalla" class="input" required>
                {% for talla in tallas %}
                <option value="{{ talla[0] }}" {% if producto[5] == talla[0] %} selected {% endif %}>{{ talla[1] }}</option>
                {% endfor %}
            </select>
            <label for="idGenero">Género:</label>
            <select name="idGenero" class="input" required>
                {% for genero in generos %}
                <option value="{{ genero[0] }}" {% if producto[4] == genero[0] %} selected {% endif %}>{{ genero[1] }}</option>
                {% endfor %}
            </select>
            <label for="idTipo">Tipo de producto:</label>
            <select name="idTipo" class="input" required>
                {% for tipo in tipos %}
                <option value="{{ tipo[0] }}" {% if producto[4] == tipo[0] %} selected {% endif %}>{{ tipo[1] }}</option>
                {% endfor %}
            </select>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" cols="50">{{ producto[12] }}</textarea><br><br>
            <label for="imagenPrincipal">Cambiar Imagen Principal:</label>
            <input type="file" name="imagenPrincipal" class="input">
            <img src="{{ url_for('static', filename='img/' + producto[8]) }}" width="100">
            <label for="imagenesSecundarias">Cambiar Imágenes Secundarias:</label>
            <input type="file" name="imagenesSecundarias" class="input" multiple>
            <div>
                <img src="{{ url_for('static', filename='img/' + producto[9]) }}" width="50">
                <img src="{{ url_for('static', filename='img/' + producto[10]) }}" width="50">
                <img src="{{ url_for('static', filename='img/' + producto[11]) }}" width="50">
            </div>
            <label for="colores">Colores:</label>
            <select name="colores" class="input" multiple required>
                {% for color in colores %}
                <option value="{{ color[0] }}" {% if color[0] in producto_colores %} selected {% endif %}>{{ color[1] }}</option>
                {% endfor %}
            </select>
            <label for="categorias">Categorías:</label>
            <select name="categorias" class="input" multiple required>
                {% for categoria in categorias %}
                <option value="{{ categoria[0] }}" {% if categoria[0] in producto_categorias %} selected {% endif %}>{{ categoria[1] }}</option>
                {% endfor %}
            </select>
            <button type="button" data-form-id="productoForm" class="button is-success mt-2 openModalButton">Guardar</button>
        </form>
    </div>
</div>

<div id="confirmationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <h2>¿Estás seguro de editar este producto?</h2>
        <button id="confirmButton" class="button is-success">Confirmar</button>
        <button id="cancelButton" class="button">Cancelar</button>
    </div>
</div>

<div id="errorModal" class="modal" style="display:none;">
    <div class="modal-content">
        <h2>Error de Validación</h2>
        <p id="errorMessage"></p>
        <button id="closeErrorButton" class="button">Cerrar</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/edicionProducto.js') }}"></script>

{% endblock %}
