{% extends "maestradashboard.html" %}
{% block titulomantenimiento %}
Editar Usuario
{% endblock %}
{% block mantenimiento %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/usuario.css') }}">
<section class="section container my-5">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar Usuario</h3>
            <form action="{{url_for('actualizar_usuario')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id" value="{{usuario[0]}}">
                
                <label for="nombre">Nombre:</label>
                <input required type="text" value="{{usuario[1]}}" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <span id="nombreError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>
                
                <label for="numerodocumento">Número de Documento:</label>
                <input required type="number" value="{{usuario[2]}}" class="input" placeholder="Número de documento" name="numerodocumento" id="numerodocumento">
                <span id="nroDocError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>
                
                <label for="apePat">Apellido Paterno:</label>
                <input required type="text" value="{{usuario[3]}}" class="input" placeholder="Apellido Paterno" name="apePat" id="apePat">
                <span id="apePatError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>
                
                <label for="apeMat">Apellido Materno:</label>
                <input required type="text" value="{{usuario[4]}}" class="input" placeholder="Apellido Materno" name="apeMat" id="apeMat">
                <span id="apeMatError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>
                
                <label for="correo">Correo:</label>
                <input required type="email" value="{{usuario[5]}}" class="input" placeholder="Correo" name="correo" id="correo">
                <span id="correoError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>
                
                <label for="telefono">Teléfono:</label>
                <input required type="tel" value="{{usuario[6]}}" class="input" placeholder="Teléfono" name="telefono" id="telefono">
                <span id="telefonoError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>

                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input required type="date" value="{{usuario[7]}}" class="input" name="fechaNacimiento" id="fechaNacimiento">
                <span id="fechaError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>

                <label for="sexo">Sexo:</label>
                <select name="sexo" id="sexo" class="input" required>
                    <option value="{{usuario[8]}}" disabled selected>Seleccione sexo</option>
                    <option value="M" {% if usuario[8] == 'M' %}selected{% endif %}>Masculino</option>
                    <option value="F" {% if usuario[8] == 'F' %}selected{% endif %}>Femenino</option>
                    <option value="N" {% if usuario[8] == 'N' %}selected{% endif %}>No especificado</option>
                </select>
                <span id="sexoError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>

                <label for="tipo_usuario">Tipo de Usuario:</label>
                <select name="tipo_usuario" id="tipo_usuario" class="input" required>
                    <option value="{{usuario[9]}}" disabled selected>Seleccione un tipo de usuario</option>
                    {% for tipo in tipos_usuario %}
                        <option value="{{ tipo[1] }}" {% if tipo[1] == usuario[9] %}selected{% endif %}>{{ tipo[1] }}</option>
                    {% endfor %}
                </select>
                <span id="tipoUsuError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>

                <label for="nivel_usuario">Nivel de Usuario:</label>
                <select name="nivel_usuario" id="nivel_usuario" class="input" required>
                    <option value="{{usuario[10]}}" disabled selected>Seleccione un nivel de usuario</option>
                    {% for nivel in niveles_usuario %}
                        <option value="{{ nivel[1] }}">{{ nivel[1] }}</option>
                    {% endfor %}
                </select>
                <span id="nivelUsuError" class="error-message"></span> <!-- Mensaje de error -->
                <br><br>

                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('usuario')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/usuario.js') }}"></script>
{% endblock %}



