<header>
    <div class="row g-0 align-items-center bg-negro-k py-3 py-lg-0">
        <div class="col"></div>

        <div class="col-4 col-md-6 col-lg-3 d-flex justify-content-center order-2 order-lg-1">
            <a class="nav-link" href="index.html">
                <img src="../img/logo_kancha_encabezado.svg" class="img-fluid log1" alt="logo_kancha_encabezado">
            </a>
        </div>

        <div class="col-3 col-md-3 col-lg-6 order-1 order-lg-2">
            <nav class="navbar navbar-expand-lg p-0">
                <div class="container-fluid d-flex justify-content-center p-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <img class="togbicon" src="../img/tb.svg" alt="Toggle">
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown py-4 d-flex">
                                <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    News
                                </a>
                                <ul class="dropdown-menu">
                                    <div class="row">
                                        <div><img src="../img/adidas.jpg" alt=""></div>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </div>
                                </ul>
                                <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hombre
                                </a>
                                <ul class="dropdown-menu hombre-dropdown">
                                    <div class="row g-3 px-3 py-3">
                                        <div class="col-md-2">
                                            <h6 class="fw-bold">DESTACADO</h6>
                                            <ul class="list-unstyled">
                                                <li><a class="dropdown-item" href="#">Hot Sale</a></li>
                                                <li><a class="dropdown-item" href="#">Outlet</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h6 class="fw-bold">CALZADO</h6>
                                            <ul class="list-unstyled">
                                                <li><a class="dropdown-item" href="#">Correr</a></li>
                                                <li><a class="dropdown-item" href="../html/SeccionProductos.html">Fútbol</a></li>
                                                <li><a class="dropdown-item" href="#">Vóley</a></li>
                                                <li><a class="dropdown-item" href="#">Básquet</a></li>
                                                <li><a class="dropdown-item" href="#">Gimnasio</a></li>
                                                <li><a class="dropdown-item" href="#">Senderismo</a></li>
                                                <li><a class="dropdown-item" href="#">Otros</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h6 class="fw-bold">ROPA</h6>
                                            <ul class="list-unstyled">
                                                <li><a class="dropdown-item" href="#">Polos</a></li>
                                                <li><a class="dropdown-item" href="#">Poleras</a></li>
                                                <li><a class="dropdown-item" href="#">Shorts</a></li>
                                                <li><a class="dropdown-item" href="#">Casacas</a></li>
                                                <li><a class="dropdown-item" href="#">Camisetas</a></li>
                                                <li><a class="dropdown-item" href="#">Buzos</a></li>
                                                <li><a class="dropdown-item" href="#">Otros</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h6 class="fw-bold">ACCESORIOS</h6>
                                            <ul class="list-unstyled">
                                                <li><a class="dropdown-item" href="#">Tomatodos</a></li>
                                                <li><a class="dropdown-item" href="#">Guantes</a></li>
                                                <li><a class="dropdown-item" href="#">Gorras</a></li>
                                                <li><a class="dropdown-item" href="#">Lentes</a></li>
                                                <li><a class="dropdown-item" href="#">Mochilas</a></li>
                                                <li><a class="dropdown-item" href="#">Medias</a></li>
                                                <li><a class="dropdown-item" href="#">Otros</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h6 class="fw-bold">MARCAS</h6>
                                            <ul class="list-unstyled">
                                                <li><a class="dropdown-item" href="#">Adidas</a></li>
                                                <li><a class="dropdown-item" href="#">Nike</a></li>
                                                <li><a class="dropdown-item" href="#">Umbro</a></li>
                                                <li><a class="dropdown-item" href="#">Puma</a></li>
                                                <li><a class="dropdown-item" href="#">Otros</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </ul>
                                <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mujer
                                </a>
                                <ul class="dropdown-menu">
                                    <div class="col d-flex">
                                        <div><img src="../img/buscar.svg" alt=""></div>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </div>
                                </ul>
                                <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Niños
                                </a>
                                <ul class="dropdown-menu">
                                    <div class="col d-flex">
                                        <div><img src="../img/buscar.svg" alt=""></div>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </div>
                                </ul>
                                <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Deportes
                                </a>
                                <ul class="dropdown-menu">
                                    <div class="col d-flex">
                                        <div><img src="../img/buscar.svg" alt=""></div>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </div>
                                </ul>
                                <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Ofertas
                                </a>
                                <ul class="dropdown-menu">
                                    <div class="col d-flex">
                                        <div><img src="../img/buscar.svg" alt=""></div>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-5 col-md-3 col-lg-3 order-3 order-lg-3 d-flex justify-content-center align-items-center">
            <button type="button" class="btn btrig py-2"><img src="../img/buscar.svg" alt=""></button>
            <a href="../html/carro.html"><button type="button" class="btn btrig py-2" id="basket-icon"><img src="../img/carrito.svg"></button></a>
            
            
            <button type="button" id="user-dropdown-button" class="btn btrig py-2 px-2"><img src="../img/usuario.svg" alt=""></button>
        </div>

        <div class="col">

        </div>
    </div>
    <div class="row g-0 cabi py-2 px-4">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2500">
                    <p>
                        <a class="nav-link" href="#">15% DSCTO. EN TODO EL CALZADO DEPORTIVO<br class="d-md-none"><span class="d-md-inline d-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>¡ÚNETE A KANCHA CLUB!</a>
                    </p>
                </div>
                <div class="carousel-item" data-bs-interval="2500">
                    <p>
                        <a class="nav-link" href="#">OFERTAS EXCLUSIVAS EN TU CUMPLE<br class="d-md-none"><span class="d-md-inline d-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>¡CELEBRA CON KANCHA CLUB!</a>
                    </p>
                </div>
                <div class="carousel-item" data-bs-interval="2500">
                    <p>
                        <a class="nav-link" href="#">COMPARTE TU PASIÓN POR EL DEPORTE<br class="d-md-none"><span class="d-md-inline d-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>¡SÉ PARTE DE NUESTRA COMUNIDAD!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    
    
</header>