
{% extends "maestra.html" %} 
{% block titulo %}Kancha Club{% endblock %} 
{%block link%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/kanchaclub.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/titulo.css') }}">
{% endblock %}

{%block contenido%}
    <header id="header"></header>

    <main class="">
        <div class="row m-0">
            <div class="col">
                
            </div>
            <div class="col-12 p-0">
                <div class="image-with-text">
                    <img src="{{ url_for('static', filename='img/fondo6.jpg') }}" alt="Evento Deportivo" class="img-fluid fondk">
                    <div class="text-nav">
                        <div class="row m-0 py-2 mt-4">
                            <div class="col p-0"></div>
                            <div
                                class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
                                <a class="d-flex align-items-center me-2 regresar" href="index.html">
                                    <button class="btn bg-rojo-k me-2 d-flex"><img class="img-fluid" src="../img/fr.svg"
                                            alt=""></button><label class="l-rojo-k" for="regresar">Regresar</label>
                                </a>
                                <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                                    <div class="container-fluid">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a class="l-blanco-k" href="index.html">Inicio</a>
                                                </li>
                                                <li class="breadcrumb-item"><a class="l-blanco-k" href="index.html">Kancha Club</a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="col p-0"></div>
                        </div>
                    </div>
                    <div class="text-overlay">
                        <img src="{{ url_for('static', filename='img/kancha_club.svg') }}" alt="">
                        <div class="unirsepie d-flex justify-content-center mt-5">
                            <a class="d-flex align-items-center unirse" href="KanchaClub.html">
                                <button class="btn bg-rojo-k l-blanco-k">UNIRSE</button>
                            </a>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row m-0 py-4">
            <div class="col">
                
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 text-center p-0">
                <div class="row m-0">
                    <div class="col-12 marti p-0 mb-4">
                        <p class="titulo2">Sé un Kanchero</p>
                        <p class="l-negro-k px-5 mb-4">Forma parte de nuestro programa Kancha Club y obtén ventajas exclusivas en todos nuestros productos y servicios. Un club en donde cada miembro comparte su pasión por el deporte.</p>
                    </div>
                    <div class="col-12 col-md-4 imgmarca mb-5">
                        <img src="{{ url_for('static', filename='img/novedades.svg') }}" alt="" class="img-fluid mb-4 iconk">
                        <p class="titlep">Novedades</p>
                        <p>Obtén acceso anticipado a los últimos lanzamientos y sé uno de los primeros en comprarlos.</p>
                    </div>
                    <div class="col-12 col-md-4 imgmarca mb-5">
                        <img src="{{ url_for('static', filename='img/beneficios.svg') }}" alt="" class="img-fluid mb-4 iconk">
                        <p class="titlep">Recompensas</p>
                        <p>Obtén un cupón del 45% de descuento en cualquier producto el día de tu cumpleaños.</p>
                    </div>
                    <div class="col-12 col-md-4 imgmarca mb-5">
                        <img src="{{ url_for('static', filename='img/personalizar.svg') }}" alt="" class="img-fluid mb-4 iconk">
                        <p class="titlep">Personalización</p>
                        <p>Añade tu nombre y tu número a tus camisetas favoritas sin costo alguno con Kancha Custom.</p>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>

        <div id="usuario"></div>
        <div id="carrito"></div>
    </main>
    
{%endblock%}