<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block titulo %}
    Kancha
    {% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cabezapie.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/opcionesUser.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}" />
  <link rel="icon" type="image/svg" href="{{ url_for('static', filename='img/logo_kancha_club.svg') }}" />
  {% block link %}

  {% endblock %}
</head>

<body>
  <header>
    <div class="row g-0 align-items-center bg-negro-k py-3 py-lg-0">
      <div class="col"></div>

      <div class="col-4 col-md-6 col-lg-3 d-flex justify-content-center order-2 order-lg-1">
        <a class="nav-link" href="{{ url_for('inicio') }}">
          <img src="{{ url_for('static', filename='img/logo_kancha_encabezado.svg') }}" class="img-fluid log1"
            alt="logo_kancha_encabezado" />
        </a>
      </div>
      <div class="col-3 col-md-3 col-lg-6 order-1 order-lg-2">
        <nav class="navbar navbar-expand-lg p-0">
          <div class="container-fluid d-flex justify-content-center p-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <img class="togbicon" src="../img/tb.svg" alt="Toggle" />
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item dropdown py-4 d-flex">
                  <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    News
                  </a>
                  <ul class="dropdown-menu">
                    <div class="row">
                      <div><img src="../img/adidas.jpg" alt="" /></div>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </div>
                  </ul>
                  <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Hombre
                  </a>
                  <ul class="dropdown-menu">
                    <div class="col d-flex">
                      <div><img src="../img/adidas.jpg" alt="" /></div>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </div>
                  </ul>
                  <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Mujer
                  </a>
                  <ul class="dropdown-menu">
                    <div class="col d-flex">
                      <div><img src="../img/buscar.svg" alt="" /></div>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </div>
                  </ul>
                  <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Niños
                  </a>
                  <ul class="dropdown-menu">
                    <div class="col d-flex">
                      <div><img src="../img/buscar.svg" alt="" /></div>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </div>
                  </ul>
                  <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Deportes
                  </a>
                  <ul class="dropdown-menu">
                    <div class="col d-flex">
                      <div><img src="../img/buscar.svg" alt="" /></div>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </div>
                  </ul>
                  <a class="nav-link dropdown-toggle l-rojo-k px-4" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Ofertas
                  </a>
                  <ul class="dropdown-menu">
                    <div class="col d-flex">
                      <div><img src="../img/buscar.svg" alt="" /></div>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="col-5 col-md-3 col-lg-3 order-3 order-lg-3 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btrig py-2">
          <img src="{{ url_for('static', filename='img/buscar.svg') }}" alt="" />
        </button>
        <button type="button" class="btn btrig py-2" id="basket-icon">
          <img src="{{ url_for('static', filename='img/carrito.svg') }}" alt="" />
        </button>

        <button type="button" id="user-dropdown-button" class="btn btrig py-2 px-2">
          <img src="{{ url_for('static', filename='img/usuario.svg') }}" alt="" />
        </button>
      </div>

      <div class="col"></div>
    </div>
    <div class="row g-0 cabi py-2 px-4">
      <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2500">
            <p>
              <a class="nav-link" href="#">15% DSCTO. EN TODO EL CALZADO DEPORTIVO<br class="d-md-none" /><span
                  class="d-md-inline d-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>¡ÚNETE A KANCHA CLUB!</a>
            </p>
          </div>
          <div class="carousel-item" data-bs-interval="2500">
            <p>
              <a class="nav-link" href="#">OFERTAS EXCLUSIVAS EN TU CUMPLE<br class="d-md-none" /><span
                  class="d-md-inline d-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>¡CELEBRA CON KANCHA CLUB!</a>
            </p>
          </div>
          <div class="carousel-item" data-bs-interval="2500">
            <p>
              <a class="nav-link" href="#">COMPARTE TU PASIÓN POR EL DEPORTE<br class="d-md-none" /><span
                  class="d-md-inline d-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>¡SÉ PARTE DE NUESTRA
                COMUNIDAD!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Opciones de usuario -->
  <div class="user-dropdown-content" id="user-dropdown-content">
    <a href="{{url_for('mostrarPerfil')}}"><span>Mi perfil</span> <img src="{{url_for('static', filename='img/usuario.svg')}}"
        class="icon" alt="icono-perfil"></a>
    <a href="{{url_for('redirigirPedidos')}}"><span>Mis pedidos</span> <img
        src="{{url_for('static', filename='img/box-solid.svg')}}" class="icon" alt="icono-pedidos"></a>
    <a href="{{url_for('mostrarFavoritos')}}"><span>Mis favoritos</span> <img 
        src="{{url_for('static',filename='img/corazon.svg')}}" class="icon" alt="icono-favoritos"></a>
    <a href="{{url_for('soporteTecnico')}}"><span>Ayuda</span> <img
        src="{{url_for('static',filename='img/buscar.svg')}}" class="icon" alt="icono-ayuda"></a>
    <a href="#cerrar-sesion"><span>Cerrar sesión</span> <img
        src="{{url_for('static',filename='img/circle-arrow-right-solid.svg')}}" class="icon"
        alt="icono-cerrar-sesion"></a>
  </div>


  <!-- Carrito de compras -->
  <div class="basket-dropdown" id="basket-dropdown">
    <div class="d-flex justify-content-end">
      <button id="close-basket">&times;</button>
    </div>
    <h6 class="text-center" id="shipping-price">Tu envío será completamente gratis</h6>
    <div class="basket-progress-bar">
      <div class="basket-progress" id="basket-progress"></div>
    </div>
    <div class="basket-header">
      <h2>Carro de compras (<span id="item-count">0</span> artículos)</h2>
    </div>
    <div class="basket-items">
      <!-- Items del carrito se insertarán aquí -->
    
      <!--  -->
    </div>
    <p id="empty-basket-message" class="text-center" style="display: none;">Tu carrito está vacío.</p>
    <div class="basket-summary" id="cuentas">
      <p>Subtotal: <span id="subtotal">S/0.00</span></p>
      <p>Entrega: <span id="delivery">S/20.00</span></p>
      <p>Total: <span id="total">S/0.00</span></p>
      <a href="{{url_for('redirigirPago')}}"><button class="checkout-button btn btn-danger btn-block">Ir a
          Pagar</button></a>
    </div>
  </div>


  <!-- Bloque de contenido dinámico -->

  <div>
    {% block contenido %}
    <!-- Aquí se insertará el contenido de otras páginas -->
    {% endblock %}
  </div>



  <footer class="text-center text-lg-start text-white bg-negro-k">
    <div class="row p-0 m-0 align-items-center bg-blanco-k py-2">
      <div class="col p-0"></div>
      <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 p-0 logopie text-center">
        <a href="{{ url_for('kancha_club') }}">
          <img src="{{ url_for('static', filename='img/logo_kancha_club.svg') }}" alt="logopie" />
        </a>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12 p-0 accionpie d-flex justify-content-center my-lg-0 my-3">
        <p class="l-negro-k">
          <b>SÉ MIEMBRO DE KANCHA CLUB</b><br />Accede a descuentos únicos y
          ofertas exclusivas
        </p>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 p-0 unirsepie d-flex justify-content-center my-lg-0 my-3">
        <a class="d-flex align-items-center unirse" href="KanchaClub.html">
          <button class="btn bg-rojo-k l-blanco-k">UNIRSE</button>
        </a>
      </div>
      <div class="col p-0"></div>
    </div>
    <div>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ayudapie">
            <h6 class="text-uppercase fw-bold">Ayuda</h6>
            <br />
            <p>
              <a href="#!">Obtener</a>
            </p>
            <p>
              <a href="#!">Pedidos y Devoluciones</a>
            </p>
            <p>
              <a href="#!">Envíos y Entregas</a>
            </p>
            <p>
              <a href="#!">Opciones de Pago</a>
            </p>
            <p>
              <a href="#!">Guía de Tallas</a>
            </p>
            <p>
              <a href="#!">Mapa del Sitio</a>
            </p>
            <p>
              <a href="#!">Soporte en Linea</a>
            </p>
            <p>
              <a href="#!">Dudas Frecuentes</a>
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ayudapie">
            <h6 class="text-uppercase fw-bold">Productos</h6>
            <br />
            <p>
              <a href="">Novedades</a>
            </p>
            <p>
              <a href="#!">Outlet</a>
            </p>
            <p>
              <a href="Marcas.html">Marcas</a>
            </p>
            <p>
              <a href="KanchaClub.html">KanchaClub</a>
            </p>
            <p>
              <a href="#!">KanchaCustom</a>
            </p>
            <br />
            <p>
              <a href=""><button class="btn">
                  <img class="me-2" src="{{ url_for('static', filename='img/lb.svg') }}" alt="" />Libro de Reclamaciones
                </button></a>
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ayudapie">
            <h6 class="text-uppercase fw-bold">Empresa</h6>
            <br />
            <p>
              <a href="#!">Acerca de Kancha</a>
            </p>
            <p>
              <a href="#!">Novedades</a>
            </p>
            <p>
              <a href="#!">Misión</a>
            </p>
            <p>
              <a href="#!">Visión</a>
            </p>
            <p>
              <a href="#!">Nuestra Historia</a>
            </p>
            <p>
              <a href="#!">Contáctanos</a>
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4 ayudapie">
            <h6 class="text-uppercase fw-bold">Redes Kancha</h6>
            <br />
            <p>
              <a href="Contactanos.html"><img class="me-2" src="{{ url_for('static', filename='img/fb.svg') }}"
                  alt="fb" />KanchaPeru</a>
            </p>
            <p></p>
            <p>
              <a href="Contactanos.html"><img class="me-2" src="{{ url_for('static', filename='img/ig.svg') }}"
                  alt="ig" />@kanchape</a>
            </p>
            <p></p>
            <p>
              <a href="http://wa.me/+51971133030" target="_blank"><img class="me-2"
                  src="{{ url_for('static', filename='img/wsp.svg') }}" alt="wsp" />+51 971133030</a>
            </p>
            <p></p>
            <p>
              <a href="Contactanos.html"><img class="me-2" src="{{ url_for('static', filename='img/tw.svg') }}"
                  alt="tw" />@kanchaperu</a>
            </p>
            <p></p>
            <p>
              <a href="mailto:villasis267@gmail.com" target="_blank"><img class="me-2"
                  src="{{ url_for('static', filename='img/gm.svg') }}" alt="gm" />kancha@gmail.com</a>
            </p>
            <p></p>
            <p>
              <a href="https://discord.gg/ZN7QpCCb" target="_blank"><img class="me-2"
                  src="{{ url_for('static', filename='img/dc.svg') }}" alt="dc" />Kancha Club</a>
            </p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-rojo-k legalpie">
      <p>
        <a class="mx-4" href="">Configuración de Cookies</a>|
        <a class="mx-4" href="">Términos y Condiciones</a>|
        <a class="mx-4" href="">Política de Privacidad</a>|
        <a class="mx-4" href="">Preguntas Frecuentes</a>|
        <a class="mx-4" href="">Nuestros Datos</a>
      </p>
      <br />
      <div class="d-md-flex d-block justify-content-center">
        <p class="mx-4">Copyright © 2024 Grupo 5 Kancha.pe</p>
        <p class="mx-4">
          Av. San Josemaría Escriva de Balaguer 855, Chiclayo 14012
        </p>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/opcionesUser.js') }}"></script>
  <script src="{{ url_for('static', filename='js/carrito.js') }}"></script>

  {% block js %}

  {% endblock %}
</body>

</html>