{% extends "maestradashboard.html" %}
{% block titulomantenimiento %}Producto{% endblock %}
{% block mantenimiento %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Productos</h3>
            <a href="{{ url_for('formulario_agregar_producto') }}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Colores</th>
                        <th>Género</th>
                        <th>Talla</th>
                        <th>Tipo Producto</th>
                        <th>Descripcion</th>
                        <th>Imagen Principal</th>
                        <th>Imágenes Secundarias</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Vigencia</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto[3] }}</td> <!-- Modelo -->
                        <td>{{ producto[4] }}</td> <!-- Colores -->
                        <td>{{ producto[5] }}</td> <!-- Género -->
                        <td>{{ producto[6] }}</td> <!-- Talla -->
                        <td>{{ producto[7] }}</td> <!-- Tipo de Producto -->
                        <td>{{ producto[12] }}</td> <!-- Descripcion -->
                        <td><img src="{{ url_for('static', filename='img/' + producto[8]) }}" width="100"></td>
                        <td>
                            <img src="{{ url_for('static', filename='img/' + producto[9]) }}" width="50">
                            <img src="{{ url_for('static', filename='img/' + producto[10]) }}" width="50">
                            <img src="{{ url_for('static', filename='img/' + producto[11]) }}" width="50">
                        </td>
                        <td>{{ producto[1] }}</td> <!-- Precio -->
                        <td>{{ producto[2] }}</td> <!-- Stock -->
                        <td>
                            {% if producto[13] == 'A' %}
                            Activo
                            {% elif producto[13] == 'I' %}
                            Inactivo
                            {% else %}
                            Desconocido
                            {% endif %}

                        </td> <!-- Vigencia -->
                        <td>
                            <a href="{{ url_for('editar_producto', id=producto[0]) }}"
                                class="button is-warning">Editar</a>
                        </td>
                        <td>
                            <form action="{{ url_for('eliminar_producto') }}" method="POST">
                                <input type="hidden" name="id" value="{{ producto[0] }}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}