{% extends "maestradashboard.html" %}
{% block titulomantenimiento %} Marcas {% endblock %}

{% block mantenimiento %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

<div class="columns">
    <div class="column">
        <h3 class="is-size-3">Lista de Marcas</h3>
        <div>
            <a href="{{ url_for('formulario_agregar_marca') }}" class="btn bg-gris-k l-blanco-k">Agregar</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for marca in lista %}
                <tr>
                    <td>{{ marca[0] }}</td>
                    <td>{{ marca[1] }}</td>
                    <td>
                        <img src="{{ url_for('static', filename='img/' + marca[2]) }}" width="50" alt="Imagen de {{ marca[1] }}">
                    </td>
                    <td>
                        <a href="{{ url_for('formulario_editar_marca', id=marca[0]) }}">
                            <button class="btn bg-azul-k l-blanco-k">Editar</button>
                        </a>
                    </td>
                    <td>
                        <form action="{{ url_for('eliminar_marca') }}" method="POST" class="delete-form" data-id="{{ marca[0] }}" style="background-color: transparent; border-style: none;">
                            <input type="hidden" name="id" value="{{ marca[0] }}">
                            <button type="button" class="btn btn-danger openModalButton" data-nombre="{{ marca[1] }}">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal de confirmación o error -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <h2 id="modalTitle">¿Estás seguro de eliminar esta marca?</h2>
        <p id="modalMessage">Esta acción no se puede deshacer.</p>
        <button id="confirmButton" class="btn">Sí, Eliminar</button>
        <button id="cancelButton" class="btn">Cancelar</button>
    </div>
</div>

<!-- Enlace al archivo JavaScript -->
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
