{% extends "maestradashboard.html" %}
{% block titulomantenimiento %}Productos{% endblock %}

{% block mantenimiento %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Lista de productos</h3>
            <div>
                <a href="{{ url_for('formulario_agregar_producto') }}" class="btn bg-gris-k l-blanco-k">Agregar</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Colores</th>
                        <th>Género</th>
                        <th>Talla</th>
                        <th>Tipo Producto</th>
                        <th>Descripción</th>
                        <th>Imagen Principal</th>
                        <th>Imágenes Secundarias</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Vigencia</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto[3] }}</td> <!-- Modelo -->
                        <td>{{ producto[4] }}</td> <!-- Colores -->
                        <td>{{ producto[5] }}</td> <!-- Género -->
                        <td>{{ producto[6] }}</td> <!-- Talla -->
                        <td>{{ producto[7] }}</td> <!-- Tipo de Producto -->
                        <td>{{ producto[12] }}</td> <!-- Descripción -->
                        <td><img src="{{ url_for('static', filename='img/' + producto[8]) }}" width="100" alt="Imagen principal de {{ producto[3] }}"></td>
                        <td>
                            <img src="{{ url_for('static', filename='img/' + producto[9]) }}" width="50" alt="Imagen secundaria 1 de {{ producto[3] }}">
                            <img src="{{ url_for('static', filename='img/' + producto[10]) }}" width="50" alt="Imagen secundaria 2 de {{ producto[3] }}">
                            <img src="{{ url_for('static', filename='img/' + producto[11]) }}" width="50" alt="Imagen secundaria 3 de {{ producto[3] }}">
                        </td>
                        <td>{{ producto[1] }}</td> <!-- Precio -->
                        <td>{{ producto[2] }}</td> <!-- Stock -->
                        <td>
                            {% if producto[13] == 'A' %}
                            Activo
                            {% elif producto[13] == 'I' %}
                            Inactivo
                            {% else %}
                            Desconocido
                            {% endif %}
                        </td> <!-- Vigencia -->
                        <td>
                            <a href="{{ url_for('editar_producto', id=producto[0]) }}">
                                <button class="btn bg-azul-k l-blanco-k">Editar</button>
                            </a>
                        </td>
                        <td>
                            <form action="{{ url_for('eliminar_producto') }}" method="POST" class="delete-form" data-id="{{ producto[0] }}" style="background-color: transparent; border-style: none;">
                                <input type="hidden" name="id" value="{{ producto[0] }}">
                                <button type="button" class="btn btn-danger openModalButton" data-nombre="{{ producto[3] }}">Eliminar</button>
                            </form>
                        </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- Modal de confirmación o error -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <h2 id="modalTitle">¿Estás seguro de eliminar este producto?</h2>
        <button id="confirmButton" class="button is-danger">Sí, Eliminar</button>
        <button id="cancelButton" class="button is-secondary">Cancelar</button>
    </div>
</div>

<!-- Enlace al archivo JavaScript -->
<script src="{{ url_for('static', filename='js/modalproducto.js') }}"></script>
{% endblock %}
