{% extends "maestra.html" %}
{% block titulo %}
Mi perfil
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/perfil.css')}}">
{% endblock %}
{% block contenido %}
<header id="header"></header>

    <main class="mt-4">
        <div class="row m-0 py-2">
            <div class="col p-0"></div>
            <div
                class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
                <a class="d-flex align-items-center me-2 regresar" href="{{url_for('seccionProductos')}}">
                    <button class="btn bg-rojo-k me-2 d-flex"><img class="img-fluid" src="{{url_for('static',filename='img/fr.svg')}}"
                            alt=""></button><label class="l-rojo-k" for="regresar">Regresar</label>
                </a>
                <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                    <div class="container-fluid">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a class="l-gris-k" href="{{url_for('inicio')}}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a class="l-gris-k" href="#">Mi
                                        perfil</a></li>
                            </ol>
                        </nav>
                    </div>
                </nav>
            </div>
            <div class="col p-0"></div>
        </div>

        <div class="row">
            <div class="col p-0"></div>

            <!-- contenido pag -->
            <div class="col-lg-8 col-md-8 col-sm-10 col-12 my-5">
                <div class="mb-5">
                    <p class="titulo2 text-center" id="page-title">
                        Mi perfil
                        <img src="../img/SVG/usuario.svg" alt="" class="imgTitulo">
                    </p>
                </div>
                <div class="row m-0 p-0 my-4">
                    <div class="col">
                        <label for="nom">Nombres</label>
                        <input name="nom" id="nom" type="text" class="form-control mb-2" value={{userData.nombre}} aria-label="Username" aria-describedby="basic-addon1" disabled>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="ape">Apellidos</label>
                        <input name="ape" id="ape" type="text" class="form-control mb-2" value={{userData.apellidos}}  aria-label="Username" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="row m-0 p-0 my-4">
                    <div class="col-12">
                        <label for="email">Email</label>
                        <input name="email" id="email" type="text" class="form-control mb-2" value={{userData.correo}}  aria-label="Username" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="row m-0 p-0 my-4">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="doc">Documento de identidad</label>
                        <input name="doc" id="doc" type="text" class="form-control mb-2" value="{{userData.numdoc}}" aria-label="Username" aria-describedby="basic-addon1" disabled>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label id="labfecha" for="fechan">Fecha de nacimiento</label>
                        <input name="fechan" id="fechan" value="2004-08-11" type="date" class="form-control mb-2" aria-label="Username" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="row m-0 p-0 my-4">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label style="display: block;" for="genero">Sexo</label>
                        <select class="genero" id="genero" name="genero" disabled>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="no-definido">Prefiero no decirlo</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="movil">Numero de celular</label>
                        <input name="movil" id="movil" type="text" class="form-control mb-2" aria-label="Username" value="971133030" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="row m-0 p-0 my-4">
                    <div class="botonPerfil col">
                        <button id="edit-save-btn" class="btn bg-rojo-k l-blanco-k fondoKancha" onclick="toggleEditSave()">
                            Editar perfil
                        </button>
                    </div>
                </div>
            </div>
            
            <!-- contenido pag -->
            <div class="col p-0"></div>


            <!-- Desplegables -->
            <div id="usuario"></div>
            <div id="carrito"></div>
    </main>

    <footer id="footer"></footer>

    <!--<script src="../js/carrito.js"></script>-->
    <!--<script src="{{url_for('static',filename='js/miperfil.js')}}"></script>-->
{% endblock %}