{% extends "maestra.html" %}
{% block titulo %}Mis Pedidos{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/titulo.css') }}" />
{% endblock %}
{% block contenido %}
<main class="mt-4">
    <div class="row m-0 py-2">
        <div class="col p-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
            <a class="d-flex align-items-center me-2 regresar" href="Productos.html">
                <button class="btn bg-rojo-k me-2 d-flex"><img class="img-fluid" src="../img/fr.svg"
                        alt=""></button><label class="l-rojo-k" for="regresar">Regresar</label>
            </a>
            <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a class="l-gris-k" href="index.html">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="l-gris-k" href="#">Mis
                                    pedidos</a></li>
                        </ol>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="col p-0"></div>
    </div>
    <div class="row">
        <div class="col p-0"></div>
        <div class="col-9">
            <div class="mb-5">
                <p class="titulo2 text-center">
                    Mis pedidos
                    <img src="../img/SVG/usuario.svg" alt="" class="imgTitulo">
                </p>
            </div>
            <div class="container d-flex flex-column justify-content-center">
                <div class="row mb-5">
                    <a style="text-decoration: none; color: black;" href="Seguimiento(1).html">
                        <p class="h4">Pedido N°213123213</p>
                        <div class="row border">
                            <div class="col">
                                <h2>Contenido</h2>
                                <p>Adidas1, Camiseta2</p>
                                <br><br>
                                <h4>Fecha: 04/06/2024</h4>
                            </div>
                            <div class="col-4 d-flex flex-column align-self-center">
                                <img src="../img/foto (26).avif" class="imgTitulo2 mx-auto d-block">
                                <h3 class="text-center">Estado: <i>Pediente</i></h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row mb-5">
                    <a style="text-decoration: none; color: black;" href="Seguimiento(3).html">
                        <p class="h4">Pedido N°213123213</p>
                        <div class="row border">
                            <div class="col">
                                <h2>Contenido</h2>
                                <p>Adidas1, Camiseta2</p>
                                <br><br>
                                <h4>Fecha: 04/06/2024</h4>
                            </div>
                            <div class="col-4 d-flex flex-column align-self-center">
                                <img src="../img/foto (26).avif" class="imgTitulo2 mx-auto d-block">
                                <h3 class="text-center">Estado: <i>Entregado</i></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row mb-5">
                    <a style="text-decoration: none; color: black;" href="Seguimiento(3).html">
                        <p class="h4">Pedido N°2134223213</p>
                        <div class="row border">
                            <div class="col">
                                <h2>Contenido</h2>
                                <p>Adidas1, Camiseta2, Medias1</p>
                                <br><br>
                                <h4>Fecha: 05/11/2022</h4>
                            </div>
                            <div class="col-4 d-flex flex-column align-self-center">
                                <img src="../img/foto (109).avif" class="imgTitulo2 mx-auto d-block">
                                <h3 class="text-center">Estado: <i>Entregado</i></h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col p-0"></div>
</main>
{% endblock %}