{% extends "maestra.html" %} 
{% block titulo %}Pago{% endblock %} 
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Pago.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/titulo.css') }}" />
{% endblock %} 
{% block contenido %}
<main class="mt-4">
    <div class="row m-0 py-2">
        <div class="col p-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
            <a class="d-flex align-items-center me-2 regresar" href="Productos.html">
                <button class="btn bg-rojo-k me-2 d-flex">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/fr.svg') }}" alt="" />
                </button>
                <label class="l-rojo-k" for="regresar">Regresar</label>
            </a>
            <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">
                                <a class="l-gris-k" href="index.html">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a class="l-gris-k" href="#">Pago</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="col p-0"></div>
    </div>

    <div class="row">
        <div class="col p-0"></div>
        <div class="col-9 p-0">
            <div class="mb-5">
                <p class="titulo2 text-center">
                    Comprar
                    <img src="{{ url_for('static', filename='img/usuario.svg') }}" alt="" class="imgTitulo" />
                </p>
            </div>
            
            <div class="mb-5">
                <div class="row">
                    <div class="col">
                        <img src="{{ url_for('static', filename='img/usuario.svg') }}" alt=""
                            class="imgTitulo mx-auto d-block" />
                        <h3 class="text-center">Contacto</h3>
                    </div>
                    <div class="col">
                        <img src="{{ url_for('static', filename='img/truck-solid.svg') }}" alt=""
                            class="imgTitulo mx-auto d-block" />
                        <h3 class="text-center">Envio</h3>
                    </div>
                    <div class="col">
                        <img src="{{ url_for('static', filename='img/money-bill-1-regular.svg') }}" alt=""
                            class="imgTitulo mx-auto d-block" />
                        <h3 class="text-center">Pago</h3>
                    </div>
                </div>
                <!-- Barra de progreso -->
                <div class="progressbar">
                    <div class="progress" id="progress"></div>
                    <div class="progress-step progress-step-active" data-title="Contacto"></div>
                    <div class="progress-step" data-title="Envio"></div>
                    <div class="progress-step" data-title="Pago"></div>
                </div>
            </div>

            <!-- Contenido de la compra -->
            <div class="row">
                <div class="my-4 col-lg-7 col-md-7 col-sm-12 col-12">
                    <!-- Pasos -->
                    <div class="accordion" id="accordionExample">
                        <!-- Primer paso: Contacto -->
                        <form action="{{ url_for('finalizarCompra')}}" method="POST">
                            <input type="hidden" name="id_carrito" value="{{id_carrito}}">
                            <div class="accordion-item">
                                <h2 class="acordionEncabezado accordion-header d-flex justify-content-between align-items-center">
                                    <span id="acordiontitle">Contacto</span>
                                    <img src="{{ url_for('static', filename='img/edit-white.svg') }}" alt="toggle" class="toggle-img d-none" id="toggleOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" />
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="correo">Correo</label><br />
                                                <input style="width: 100%" type="text" name="correo" id="correo" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col">
                                                <label for="nombres">Nombres</label> <br />
                                                <input style="width: 100%" type="text" name="nombres" id="nombres" />
                                            </div>
                                            <div class="col">
                                                <label for="apellidos">Apellidos</label> <br />
                                                <input style="width: 100%" type="text" name="apellidos" id="apellidos" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col">
                                                <label for="dni">Documento de identidad</label> <br />
                                                <input inputmode="numeric" style="width: 100%" type="text" name="dni" id="dni" />
                                            </div>
                                            <div class="col">
                                                <label for="movil">Movil</label> <br />
                                                <input inputmode="numeric" style="width: 100%" type="text" name="movil" id="movil" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="d-flex justify-content-end">
                                                <button id="btn1" class="btn bg-rojo-k l-blanco-k" type="button">
                                                    Siguiente
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Segundo paso: Envío -->
                            <div class="accordion-item">
                                <h2 class="acordionEncabezado accordion-header d-flex justify-content-between align-items-center">
                                    <span id="acordiontitle">Envio</span>
                                    <img src="{{ url_for('static', filename='img/edit-white.svg') }}" alt="toggle" class="toggle-img d-none" id="toggleTwo" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" />
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 dataAddress">
                                                <label class="form-label">Departamento:</label>
                                                <select class="form-select" id="id_departamento" name="id_departamento" aria-label="Default select example" onchange="loadProvincias()">
                                                    <option selected>--Seleccione su departamento--</option>
                                                    {% for departamento in departamentos %}
                                                        <option value="{{departamento[0]}}">{{departamento[1]}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 dataAddress">
                                                <label class="form-label">Provincia:</label>
                                                <select class="form-select" id="id_provincia" name="id_provincia" aria-label="Default select example" onchange="loadDistritos()">
                                                    <option selected>--Seleccione su provincia--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 dataAddress">
                                                <label class="form-label">Distrito:</label>
                                                <select class="form-select" id="id_distrito" name="id_distrito" aria-label="Default select example">
                                                    <option selected>--Seleccione su distrito--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="direcc">Direccion</label><br />
                                                <input style="width: 100%" type="text" name="direcc" id="direcc" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="d-flex justify-content-end">
                                                <button id="btn2" class="btn bg-rojo-k l-blanco-k" type="button">
                                                    Siguiente
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Tercer paso: Pago -->
                            <div class="accordion-item">
                                <h2 class="acordionEncabezado accordion-header d-flex justify-content-between align-items-center">
                                    <span id="acordiontitle">Pago</span>
                                    <img src="{{ url_for('static', filename='img/edit-white.svg') }}" alt="toggle" class="toggle-img d-none" id="toggleThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" />
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col">
                                                <strong>Tarjeta de crédito o débito</strong>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <img class="me-3" id="imgTarjet"
                                                    src="{{ url_for('static', filename='img/cc-visa.svg') }}" alt="" />
                                                <img id="imgTarjet"
                                                    src="{{ url_for('static', filename='img/cc-mastercard.svg') }}"
                                                    alt="" />
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="ntarj">Número de tarjeta</label><br />
                                                <input inputmode="numeric" style="width: 100%" type="text" name="ntarj"
                                                    id="ntarj" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="nombrestarjeta">Nombres y apellidos del titular de
                                                    tarjeta</label><br />
                                                <input style="width: 100%" type="text" name="nombrestarjeta"
                                                    id="nombrestarjeta" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <label for="">Fecha de vencimiento</label><br />
                                                <input type="number" id="exp-month" name="exp-month" placeholder="MM"
                                                    min="1" max="12" required />
                                                <span class="separator">/</span>
                                                <input type="number" id="exp-year" name="exp-year" placeholder="AA"
                                                    min="0" max="99" required />
                                            </div>
                                            <br /><br />
                                            <div class="col">
                                                <label for="codeSeg">Código de seguridad</label><br />
                                                <input inputmode="numeric" style="width: 100%" type="text"
                                                    name="codeSeg" id="codeSeg" />
                                            </div>
                                        </div>
                                        <br /><br />
                                        <div class="row">
                                            <div class="d-flex justify-content-center">
                                                <button id="btn3" class="btn bg-rojo-k l-blanco-k" type="submit">
                                                    Finalizar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Resumen de compra -->
                <div class="my-4 col-lg-5 col-md-5 col-sm-12 col-12 resumenCompra">
                    <div class="container border">
                        <h6 class="text-center mt-2">Resumen de compra</h6>
                        <hr />
                        <div id="resumen-carrito" class="carrito-con-scroll">
                            <!-- Aquí se insertarán dinámicamente los productos del carrito -->
                            {% for detalle in lista %}
                            <div class="tarjetaprod m-2 row d-flex border">
                                <div class="col">
                                    <img class="imgdetalle" src="{{ url_for('static', filename='img/' + detalle[6]) }}"
                                        alt="${producto.nombre}" />
                                </div>
                                <div class="col">
                                    <p>{{detalle[2]}}</p>
                                    <p>Talla: {{detalle[3]}}</p>
                                    <p class="precio text-end"><b>S/{{detalle[4]}}</b></p>
                                </div>
                                <p id="cantidad" style="background-color: rgb(10, 5, 5)">
                                    {{detalle[5]}}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                        <hr />
                        <div class="row" style="color: rgb(255, 29, 37)">
                            <div class="col">
                                <p class="text-start"><strong>Total:</strong></p>
                            </div>
                            <div class="col">
                                <p id="total-compra" class="text-end">{{total}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-0"></div>
    </div>
</main>
{% endblock %} 

{% block js %}
<script src="{{ url_for('static', filename='js/scriptPago.js') }}"></script>
<script>
    function clearOptions(selectElement, defaultText) {
        selectElement.innerHTML = `<option selected>${defaultText}</option>`;
    }

    function loadProvincias() {
        var departamento_id = document.getElementById("id_departamento").value;

        if (!departamento_id) {
            console.warn("Por favor, selecciona un departamento válido.");
            return;
        }

        fetch(`/get_provincias/${departamento_id}`)
        .then(response => {
            if (!response.ok) {
                throw new Error("Error en la solicitud");
            }
            return response.json();
        })
        .then(data => {
            var id_provincia = document.getElementById("id_provincia");
            var id_distrito = document.getElementById("id_distrito");

            clearOptions(id_provincia, '--Seleccione su provincia--');
            clearOptions(id_distrito, '--Seleccione su distrito--');

            if (data.length === 0) {
                console.warn("No se encontraron provincias para este departamento.");
            } else {
                data.forEach(function(provincia) {
                    var option = document.createElement("option");
                    option.value = provincia[0];  
                    option.text = provincia[1];   
                    id_provincia.appendChild(option);
                });
            }
        })
        .catch(error => {
            console.error("Hubo un problema con la solicitud de provincias:", error);
        });
    }

    function loadDistritos() {
        var provincia_id = document.getElementById("id_provincia").value;

        if (!provincia_id) {
            console.warn("Por favor, selecciona una provincia válida.");
            return;
        }

        fetch(`/get_distritos/${provincia_id}`)
        .then(response => {
            if (!response.ok) {
                throw new Error("Error en la solicitud");
            }
            return response.json();
        })
        .then(data => {
            var id_distrito = document.getElementById("id_distrito");

            clearOptions(id_distrito, '--Seleccione su distrito--');

            if (data.length === 0) {
                console.warn("No se encontraron distritos para esta provincia.");
            } else {
                data.forEach(function(distrito) {
                    var option = document.createElement("option");
                    option.value = distrito[0];  
                    option.text = distrito[1];   
                    id_distrito.appendChild(option);
                });
            }
        })
        .catch(error => {
            console.error("Hubo un problema con la solicitud de distritos:", error);
        });
    }
</script>
{% endblock %}
