{% extends "maestra.html" %}

{% block titulo %}
  Productos - Kancha
{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/SeccionProductos.css') }}">
{% endblock %}

{% block contenido %}
<main class="mt-3">
    <div class="row m-0 py-4">
        <div class="col p-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
            <a class="d-flex align-items-center me-2 regresar" href="{{ url_for('productos') }}">
                <button class="btn bg-rojo-k me-2 d-flex"><img class="img-fluid" src="{{ url_for('static', filename='img/fr.svg') }}" alt=""></button>
                <label class="l-rojo-k" for="regresar">Regresar</label>
            </a>
            <nav class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a class="l-gris-k" href="{{ url_for('inicio') }}">Inicio</a></li>
                            <li class="breadcrumb-item"><a class="l-gris-k" href="#">{{ categoria }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ producto.nombre }}</li>
                        </ol>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="col p-0"></div>
    </div>

    <div class="row m-0 py-2">
        <div class="col-12 col-md-6">
            <img id="mainImage" class="main-image img-fluid" src="{{ url_for('static', filename=producto.imagen) }}" alt="Imagen del producto">
            <div class="row mt-3">
                {% for miniatura in producto.miniaturas %}
                    <div class="col-3">
                        <img class="img-fluid" src="{{ url_for('static', filename=miniatura) }}" alt="Miniatura">
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>{{ producto.nombre }}</h2>
            <p>{{ producto.descripcion }}</p>
            <p class="precio">Precio: S/ {{ producto.precio }}</p>
            <button class="btn bg-rojo-k l-blanco-k" onclick="agregarAlCarrito('{{ producto.id }}')">Añadir al carrito</button>
        </div>
    </div>
</main>
{% endblock %}
