<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/SVG/logo_kancha_club.svg">
    <link rel="stylesheet" href="../css/RegistroUsuario.css">
    <title>Registrar Kanchero</title>
</head>

<body>
    <form action="">
        <fieldset>
            <div id="metodos_crear">
                <label for="">Crear cuenta con</label>
                <div id="opciones">
                    <button>fdsfsd</button>
                    <button>sdfsdf</button>
                    <button>sdfsdf</button>
                </div>
            </div>
            <hr>
            <input type="text" placeholder="Nombres" class="campo">
            <br>
            <input type="text" placeholder="Apellidos" class="campo">
            <br>
            <select name="Tipo documento" id="" class="campo">
                <option value="">DNI</option>
                <option value="">Pasaporte</option>
                <option value="">Carnet de extranjería</option>
            </select>
            <br>
            <input type="text" placeholder="Num documento" class="campo">
            <br>
            <input type="email" placeholder="Correo e-mail" class="campo">
            <br>
            <input type="password" placeholder="Contraseña" class="campo">
            <br>
            <input type="password" placeholder="Confirmar contraseña" class="campo">
            <br>
            <br>
            <div id="ctn_acuerdos">
                <input type="checkbox" name="politicas" id=""><label for="politicas">Acepto las políticas de seguridad y
                    privacidad de Kancha</label><br><br>
                <input type="checkbox" name="cookies" id=""><label for="cookies">Acepto las políticas de cookies
                    empleadas en Kancha</label><br><br>
                <input type="checkbox" name="datos" id=""><label for="datos">Aceptar tratamiento de
                    datos</label><br><br>
                <input type="checkbox" name="condiciones" id=""><label for="condiciones">Estoy de acuerdo con las
                    condiciones de uso de Kancha</label><br>
            </div>
            <br>
            <input type="submit" value="Crear Cuenta" id="enviar">
        </fieldset>
    </form>
</body>

</html>