{% extends "maestra.html" %}
{% block titulo %}
Registrar Kanchero
{% endblock %}
{% block link %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{{url_for('static',filename='img/SVG/logo_kancha_club.svg')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/RegistroUsuario.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/validacionRegistroUsuario.css') }}">
{% endblock %}
{% block contenido %}
<form action="{{ url_for('guardar_cliente') }}" method="post">
    <fieldset>
        <div id="metodos_crear">
            <label for="">Crear cuenta con</label>
            <div id="opciones">
                <button class="metodo_registro">
                    <a href="{{ url_for('loginGoogle') }}" class="metodo_registro">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                        </svg>
                    </a>
                </button>
                <button class="metodo_registro">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                      </svg>
                </button>
                <button class="metodo_registro">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                      </svg>
                </button>
            </div>
        </div>
        <hr>
        <input type="text" placeholder="Nombres" class="input campo" name="nombre" id="nombre" required>
        <span id="nombreError" class="error-message"></span>
        <br><br>

        <input type="text" placeholder="Apellido Paterno" class="input campo" name="apePat" id="apePat" required>
        <span id="apePatError" class="error-message"></span>
        <br><br>

        <input type="text" placeholder="Apellido Materno" class="input campo" name="apeMat" id="apeMat" required>
        <span id="apeMatError" class="error-message"></span>
        <br><br>

        <input type="number" placeholder="Número de documento" class="input campo" name="numerodocumento" id="numerodocumento" required>
        <span id="nroDocError" class="error-message"></span>
        <br><br>

        <input type="email" placeholder="Correo e-mail" class="input campo" name="correo" id="correo" required>
        <span id="correoError" class="error-message"></span>
        <br><br>

        <input type="password" placeholder="Contraseña" class="input campo" name="password" id="password" required>
        <span id="passwordError" class="error-message"></span>
        <br><br>

        <input type="password" placeholder="Confirmar contraseña" class="input campo" name="confirmar_password" id="confirmar_password" required>
        <span id="confirmarPasswordError" class="error-message"></span>
        <br><br>

        <input type="tel" placeholder="Teléfono" class="input campo" name="telefono" id="telefono" required>
        <span id="telefonoError" class="error-message"></span>
        <br><br>

        <input type="date" class="input campo" name="fechaNacimiento" id="fechaNacimiento" required>
        <span id="fechaError" class="error-message"></span>
        <br><br>

        <select name="sexo" id="sexo" class="input campo" required>
            <option value="" disabled selected>Seleccione sexo</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
            <option value="N">No especificado</option>
        </select>
        <span id="sexoError" class="error-message"></span>
        <br><br>
        <div id="ctn_acuerdos">
            <input type="checkbox" name="politicas" id="politicas" required>
            <label for="politicas">Acepto las políticas de seguridad y privacidad de Kancha</label><br><br>
            <input type="checkbox" name="cookies" id="cookies" required>
            <label for="cookies">Acepto las políticas de cookies empleadas en Kancha</label><br><br>
            <input type="checkbox" name="datos" id="datos" required>
            <label for="datos">Aceptar tratamiento de datos</label><br><br>
            <input type="checkbox" name="condiciones" id="condiciones" required>
            <label for="condiciones">Estoy de acuerdo con las condiciones de uso de Kancha</label><br>
        </div>
        <br>
        <button type="submit" value="Crear Cuenta" id="enviar">Crear Cuenta</button>
    </fieldset>
</form>
<script src="{{ url_for('static', filename='js/validacionRegistroUsuario.js') }}"></script>
{% endblock %}
