{% extends "maestra.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SeccionProductos.css') }}">
{% endblock %}

{% block title %}Productos{% endblock %}

{% block contenido %}
<main class="mt-2">
    <div class="row m-0 py-2">
        <div class="col p-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
            <a class="d-flex align-items-center me-2 regresar" href="{{url_for('inicio')}}">
                <button class="btn bg-rojo-k me-2 d-flex"><img class="img-fluid"
                        src="{{url_for('static',filename='img/fr.svg')}}" alt=""></button>
                <label class="l-rojo-k" for="regresar">Regresar</label>
            </a>
            <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a class="l-gris-k" href="{{url_for('inicio')}}">Inicio</a></li>
                            <li class="breadcrumb-item"><a class="l-gris-k" href="#">Hombre</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="l-gris-k"
                                    href="#">Calzado</a></li>
                        </ol>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="col p-0"></div>
    </div>

    <div class="row mt-2 py-2">
        <div class="col py-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex text-center p-0 justify-content-sm-start">
            <h2 id="tituloSeccion" class="d-flex justify-content-start w-100 mb-3 align-items-center">Zapatillas</h2>
        </div>
        <div class="col py-0"></div>
    </div>

    <div class="row mt-2 py-2">
        <div class="col py-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex text-center p-0 justify-content-sm-start">
            <div class="d-flex justify-content-end w-100 mb-3 align-items-center">
                <span class="d-none d-md-inline">Ocultar filtros</span>
                <button id="toggleFilters" class="btn btn-secondary ms-2"><img src="../img/filtro-productos.png"
                        alt=""></button>
                <select id="sortBy" class="form-select w-auto ms-2">
                    <option value="">Ordenar por</option>
                    <option value="destacado">Destacado</option>
                    <option value="ultimo">Último lanzamiento</option>
                    <option value="oferta">Oferta</option>
                    <option value="precio-asc">Precio: bajo-alto</option>
                    <option value="precio-desc">Precio: alto-bajo</option>
                </select>
            </div>
        </div>
        <div class="col py-0"></div>
    </div>

    <div class="row mt-2 py-2">
        <div class="col py-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex text-center p-0 justify-content-sm-start">

            <div class="col-md-3 filter-section" id="filtersContainer">
                <form method="GET" action="{{ url_for('seccionProductos') }}">
                    <button id="closeFilters" class="btn btn-secondary d-md-none mb-2">Cerrar</button>
                    <button id="clearFilters" class="btn btn-danger mb-3" type="reset">Eliminar filtros</button>
                    <div class="accordion" id="filtersAccordion">
                        <!-- Filtro de Género -->
                        <div class="accordion-item">
                            <h5 class="filter-title accordion-header" id="headingGenero">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#filterGenero" aria-expanded="true" aria-controls="filterGenero">
                                    Género
                                </button>
                            </h5>
                            <div id="filterGenero" class="accordion-collapse collapse show"
                                aria-labelledby="headingGenero" data-bs-parent="#filtersAccordion">
                                <div class="accordion-body">
                                    {% for genero in generos %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="genero"
                                            value="{{ genero[1] }}" id="seccion_genero{{ genero[1] }}">
                                        <label class="form-check-label" for="seccion_genero{{ genero[1] }}">{{ genero[1]
                                            }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- Filtro de Deporte (Categorías dinámicas) -->
                        <div class="accordion-item">
                            <h5 class="filter-title accordion-header" id="headingDeporte">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#filterDeporte" aria-expanded="false" aria-controls="filterDeporte">
                                    Deporte
                                </button>
                            </h5>
                            <div id="filterDeporte" class="accordion-collapse collapse" aria-labelledby="headingDeporte"
                                data-bs-parent="#filtersAccordion">
                                <div class="accordion-body">
                                    {% for categoria in categorias %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="deporte"
                                            value="{{ categoria[1] }}" id="deporte{{ categoria[1] }}">
                                        <label class="form-check-label" for="deporte{{ categoria[1] }}">{{ categoria[1]
                                            }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- Filtro de Precio -->
                        <div class="accordion-item">
                            <h5 class="filter-title accordion-header" id="headingPrecio">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#filterPrecio" aria-expanded="false" aria-controls="filterPrecio">
                                    Precio
                                </button>
                            </h5>
                            <div id="filterPrecio" class="accordion-collapse collapse" aria-labelledby="headingPrecio"
                                data-bs-parent="#filtersAccordion">
                                <div class="accordion-body">
                                    <label for="precioRange">Rango de precio:</label>
                                    <input type="range" class="form-range" min="100" max="2000" value="2000"
                                        id="precioRange" name="precio">
                                    <span id="precioMinValue">100</span> - <span id="precioValue">2000</span>
                                </div>
                            </div>
                        </div>

                        <!-- Filtro de Color (dinámico) -->
                        <div class="accordion-item">
                            <h5 class="filter-title accordion-header" id="headingColor">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#filterColor" aria-expanded="false" aria-controls="filterColor">
                                    Color
                                </button>
                            </h5>
                            <div id="filterColor" class="accordion-collapse collapse" aria-labelledby="headingColor"
                                data-bs-parent="#filtersAccordion">
                                <div class="accordion-body">
                                    {% for color in colores %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="color" value="{{ color[1] }}"
                                            id="color{{ color[1] }}">
                                        <label class="form-check-label" for="color{{ color[1] }}">{{ color[1] }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- Filtro de Marca (dinámico) -->
                        <div class="accordion-item">
                            <h5 class="filter-title accordion-header" id="headingMarca">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#filterMarca" aria-expanded="false" aria-controls="filterMarca">
                                    Marca
                                </button>
                            </h5>
                            <div id="filterMarca" class="accordion-collapse collapse" aria-labelledby="headingMarca"
                                data-bs-parent="#filtersAccordion">
                                <div class="accordion-body">
                                    {% for marca in marcas %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="marca" value="{{ marca[1] }}"
                                            id="marca{{ marca[1] }}">
                                        <label class="form-check-label" for="marca{{ marca[1] }}">{{ marca[1] }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="saveFilters" class="btn btn-success mb-3" type="submit">Aplicar filtros</button>
                </form>

            </div>

            <div class="col-md-9">
                <div class="row" id="productContainer">
                    {% set seen_ids = [] %}  <!-- Inicializa una lista para rastrear IDs de productos -->
                    {% for producto in productos %}
                        {% if producto[0] not in seen_ids %}  <!-- Verifica si el ID del producto ya fue visto -->
                            <div class="col-4 p-0 px-1 extrac product-card col-md-4 col-lg-3 col-sm-6 col-6">
                                <div class="heart-container">
                                    <img src="{{ url_for('static', filename='img/corazonLleno.svg') if producto[0] in favoritos else url_for('static', filename='img/corazonVacio.svg') }}"
                                         class="heart-icon" data-id="{{ producto[0] }}"
                                         data-corazon-lleno="{{ url_for('static', filename='img/corazonLleno.svg') }}"
                                         data-corazon-vacio="{{ url_for('static', filename='img/corazonVacio.svg') }}"
                                         onclick="toggleFavorite(this)" alt="heart">
                                </div>
                                <a href="{{ url_for('detalle_producto', id=producto[0]) }}">
                                    <img class="imagen img-fluid pb-2"
                                         src="{{ url_for('static', filename='img/' + producto[8]) }}">
                                </a>
                                <div class="row">
                                    <div class="col-12 mb-1">
                                        <p>{{ producto[7] }} {{ producto[3] }}</p>
                                    </div>
                                    <div class="col-6 pe-0">
                                        <p class="text-start"><b>S/{{ ((producto[1] | float) * 0.85) | round(2) }}</b></p>
                                    </div>
                                    <div class="col-6 ps-0">
                                        <p class="text-end"><b><s>S/ {{ producto[1] }}</s></b></p>
                                    </div>
                                    <div class="col-8 pe-0 my-1">
                                        <p class="text-start l-rojo-k"><b>S/{{ ((producto[1] | float) * 0.50) | round(2) }}</b></p>
                                    </div>
                                    <div class="col-4 ps-0 d-flex justify-content-end my-1">
                                        <img class="klo" src="{{ url_for('static', filename='img/logo_kancha_club.svg') }}"
                                             alt="Logo pequeño">
                                    </div>
                                </div>
                            </div>
                            {% set seen_ids = seen_ids + [producto[0]] %}  <!-- Agrega el ID del producto a la lista -->
                        {% endif %}
                    {% endfor %}
                </div>
                
                
            </div>
        </div>
        <div class="col p-0"></div>
    </div>

    <div class="row mt-2 py-2">
        <div class="col p-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex text-center p-0 justify-content-center">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
        <div class="col p-0"></div>
    </div>



    <script src="{{url_for('static',filename='SeccionProductos.js')}}"></script>


</main>
{% endblock %}