{% extends "maestra.html" %}
{% block titulo %}Sobre Kancha{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/somosKancha.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/titulo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/opcionesUser.css') }}">
{% endblock %}

{% block contenido %}
<main class="mt-4">
    <div class="row m-0 py-2">
        <div class="col p-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-start">
            <a class="d-flex align-items-center me-2 regresar" href="{{ url_for('seccionProductos') }}">
                <button class="btn bg-rojo-k me-2 d-flex"><img class="img-fluid" src="{{ url_for('static', filename='img/fr.svg') }}" alt=""></button>
                <label class="l-rojo-k" for="regresar">Regresar</label>
            </a>
            <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a class="l-gris-k" href="{{ url_for('inicio') }}">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="l-gris-k" href="#">Sobre Kancha</a></li>
                        </ol>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="col p-0"></div>
    </div>

    <div class="row m-0 py-2">
        <div class="col p-0"></div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-start p-0">
            <div class="contenidoNosotros w-100"> <!-- Añadido w-100 para ocupar el ancho completo -->
                <div id="info_texto">
                    <h2>La Historia de Kancha: Donde la pasión por el deporte se encuentra con la moda</h2>
                    <p>En el corazón de Chiclayo, cuatro amigos se unieron para crear algo extraordinario: <em>Anderson Baca</em>, <em>Luis Cruz</em>, <em>Christian Cubas</em>, <em>Louis Requejo</em>, <em>Alexis Torres</em>, <em>Edgar Alarcón</em></p>
                </div>
                <div id="fundadores" class="d-flex flex-wrap justify-content-center">
                    <a href="mailto:ander.jbc115@gmail.com" class="text-decoration-none">
                        <div id="Anderson" class="img_fundador">
                            <h3>Anderson Baca</h3>
                        </div>
                    </a>
                    <a href="mailto:chinchat1108@gmail.com" class="text-decoration-none">
                        <div id="Luis" class="img_fundador">
                            <h3>Luis Cruz</h3>
                        </div>
                    </a>
                    <a href="mailto:">
                        <div id="Requejo" class="img_fundador">
                            <h3>Louis Requejo</h3>
                        </div>
                    </a>
                    <a href="mailto:christiancubasjaramillo@gmail.com" class="text-decoration-none">
                        <div id="Christian" class="img_fundador">
                            <h3>Christian Cubas</h3>
                        </div>
                    </a>
                    <a href="mailto:">
                        <div id="Torres" class="img_fundador">
                            <h3>Alexis Torres</h3>
                        </div>
                    </a>
                    <a href="mailto:">
                        <div id="Alarcon" class="img_fundador">
                            <h3>Edgar Alarcón</h3>
                        </div>
                    </a>
                </div>
                
                <div id="seccion_info">
                    <article>
                        <h2>Nuestro Compromiso con la Calidad y la Sostenibilidad</h2>
                        <p>En Kancha, nos enorgullecemos de ofrecer productos seleccionados por su calidad y respeto por el medio ambiente, de la mano de marcas como Nike, Adidas y Patagonia...</p>
                    </article>
                    <article>
                        <h2>Experiencia de Compra Personalizada</h2>
                        <p>Brindamos una experiencia de compra única y a medida, desde la selección de productos hasta la entrega.</p>
                    </article>
                    <article>
                        <h2>Que no te dejen fuera, elige ser parte de la kancha. Elige ser kanchero(a)</h2>
                        <p>Descubre las miles de historias de nuestros clientes...</p>
                    </article>
                </div>
            </div>
        </div>
        <div class="col p-0"></div>
    </div>

    <div class="row m-0 py-2">
        <div class="col p-0"></div>
        <div id="ctn_resenas" class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex flex-wrap p-0"> <!-- Usar flex-wrap para acomodar reseñas -->
            <div class="col-lg-4 col-sm-8 mb-2">
                <img src="{{ url_for('static', filename='img/reseña1.jpg') }}" alt="" class="img_reseña_cliente">
                <blockquote>⭐⭐⭐⭐
                    <p>El producto es bueno, aunque tuve algunos problemas con la entrega...</p>
                    <cite><strong>Cliente: María López</strong></cite>
                </blockquote>
            </div>
            <div class="col-lg-4 col-sm-8 mb-2">
                <img src="{{ url_for('static', filename='img/reseña2.jpg') }}" alt="" class="img_reseña_cliente">
                <blockquote>⭐⭐⭐⭐⭐
                    <p>Estoy muy satisfecho con mi compra...</p>
                    <cite><strong>Cliente: Carlos Ramírez</strong></cite>
                </blockquote>
            </div>
            <div class="col-lg-4 col-sm-8 mb-2">
                <img src="{{ url_for('static', filename='img/reseña2.jpg') }}" alt="" class="img_reseña_cliente">
                <blockquote>⭐⭐⭐⭐⭐
                    <p>¡Increíble experiencia! El producto llegó a tiempo y superó mis expectativas...</p>
                    <cite><strong>Cliente: Juan Pérez</strong></cite>
                </blockquote>
            </div>
        </div>
        <div class="col p-0"></div>
    </div>

</main>
<footer id="footer"></footer>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
<script src="{{ url_for('static', filename='js/headerfooter.js') }}"></script>
{% endblock %}
