{% extends "maestra.html" %}
{% block titulo %}Ventana de Pago(Sin iniciar Sesion){% endblock %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/SoporteTecnico.css')}}">
{% endblock %}
{% block contenido %}
    <main class="mt-4">
    <div>
        <div class="row m-0 py-2">
            <div class="col p-0"></div>
            <div
                class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
                <a class="d-flex align-items-center me-2 regresar" href="{{url_for('inicio')}}">
                    <button class="btn bg-rojo-k me-2 d-flex"><img class="img-fluid" src="{{url_for('static',filename='img/fr.svg')}}"
                            alt=""></button><label class="l-rojo-k" for="regresar">Regresar</label>
                </a>
                <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                    <div class="container-fluid">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a class="l-gris-k" href="{{url_for('inicio')}}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a class="l-gris-k"
                                        href="#">Ventana de pago</a></li>
                            </ol>
                        </nav>
                    </div>
                </nav>
            </div>
            <div class="col p-0"></div>
        </div>

        <div class="row">
            <div class="col p-0"></div>

            <!-- contenido pag -->
            <div class="col">

            </div>
            <!-- contenido pag -->
            <div class="col p-0"></div>


            <!-- Desplegables -->
            <div id="usuario"></div>
            <div id="carrito"></div>
        <br>
        <h1 class="text-center text-danger">¿Cómo podemos ayudarte?</h1>
        <br>
        <p class="text-center mt-4 mb-5">En esta sección, vamos a resolver las dudas de nuestros Kancheros. Anímate a ver los
            tutoriales que tenemos listos para ti.</p>
        <br>
        <hr>
        <br>
        <h2 class="text-center mt-3 mb-5">Preguntas Frecuentes</h2>
        <br>
        <div class="row d-flex justify-content-center gap-3 mb-4">
            <div class="card" data-title="¿Como puedo crear una cuenta de kancha club desde 0?">
                <p>
                    1) Ve al menu principal <br>
                    2) Dirijase al final de la página <br>
                    3) Ubique la opcion kancha club dentro del apartado productos <br>
                    4) Presione en unirme <br>
                    5) Completelos datos <br>
                    6) Listo
                </p>
            </div>
            <div class="card" data-title="¿Que beneficios recibo al ser parte de kancha club?">
                <p>
                    Dentro de los beneficios que recibes se encuentran: <br>
                    1) Acceso a productos exclusivos <br>
                    2) Acceso a nuevos lanzamientos <br>
                    3) Asesoramiento 24/7 <br>
                    4) Pase libre en todos los eventos de la marca
                </p>
            </div>
            <div class="card" data-title="¿Como puedo realizar un reembolso?">
                <p>
                    1) Ve al menu principal <br>
                    2) Dirijase al final de la página <br>
                    3) Ubique la opcion Devoluciones dentro del apartado de asistencia <br>
                    4) Continue con los pasos que se brinda en esa pagina
                </p>
            </div>
            <div class="card" data-title="¿Que hacer despúes de haber solicitado el desembolso?">
                <p>
                    Estimado cliente, tras haber efectuado el proceso de reembolso en un lapso de 24h se le notificará
                    vía
                    correo que el proceso de devolución ha iniciado; para esto en un lapso de 3 días de haber
                    efectuado la devolcuión el dinero se verá reflejada en su cuenta. Caso contrario, debe visitar
                    alguna de nuestras sedes físicas mostrando el codigo de devolucion enviado en el correo
                    anteriormente
                    mencionado.
                </p>
            </div>
        </div>
        <br>
        <hr class="col-12 my-4">
        <br>
        <h2 class="text-center mt-2 mb-5">Tutoriales</h2>
        <br>
        <div id="ctn_tutoriales" class="row d-flex justify-content-center gap-3 mb-4">
            <a href="https://youtube.com/shorts/5U6_C8GmRB8?si=NE46ufcT00MrPVAq" id="tutorial1">
                <h3>Guía Básica: ¿Como unirme a Kancha Club desde 0?</h3>
            </a>
            <a href="https://youtube.com/shorts/5U6_C8GmRB8?si=NE46ufcT00MrPVAq" id="tutorial2">
                <h3>Guía Básica: ¿Como realizar un reembolso en Kancha?</h3>
            </a>
            <a href="https://youtube.com/shorts/5U6_C8GmRB8?si=NE46ufcT00MrPVAq" id="tutorial3">
                <h3>Guía Básica: ¿Como comprar productos de Kancha?</h3>
            </a>
        </div>
        <br>
        <div id="ctn_chatbot">
            <div id="chat">
                <ul id="ctn_conversacion"></ul>
            </div>
            <button id="chatbot">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white" stroke="black"
                    stroke-width="2">
                    <path
                        d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z" />
                </svg>
            </button>
        </div>
    </main>
    <footer id="footer"></footer>
    <script src="{{url_for('static',filename='js/SoporteTecnico.js')}}"></script>
{% endblock %}