{% extends "maestra.html" %}
{% block titulo %}Ventana de Pago{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/carrito.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/VentanaPagoSinIniciar.css')}}">
{% endblock %}
{% block contenido %}
<header id="header"></header>

    <main class="mt-4">
        <div class="row m-0 py-2">
            <div class="col p-0"></div>
            <div
                class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-10 d-flex align-items-center p-0 justify-content-sm-start">
                <a class="d-flex align-items-center me-2 regresar" href="{{url_for('seccionProductos')}}">
                    <button class="btn bg-rojo-k me-2 d-flex"><img class="img-fluid" src="{{url_for('static',filename='img/fr.svg')}}"
                            alt=""></button><label class="l-rojo-k" for="regresar">Regresar</label>
                </a>
                <nav data-mdb-navbar-init class="navbar navbar-expand-lg p-0 ms-2 d-sm-block d-none">
                    <div class="container-fluid">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a class="l-gris-k" href="{{url_for('inicio')}}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a class="l-gris-k"
                                        href="#">Ventana de pago</a></li>
                            </ol>
                        </nav>
                    </div>
                </nav>
            </div>
            <div class="col p-0"></div>
        </div>

        <div class="row">
            <div class="col p-0"></div>

            <!-- contenido pag -->
            <div class="col-9 contenedorInicio">
                <div class="row mb-5">
                    <div class="titulo2 tituloVentanaPagos text-center text-size">
                        ELIGE COMO TE GUSTARIA FINALIZAR TU COMPRA
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center m-0 bordeMedio1">
                        <h4 class="mb-5">Finaliza tu compra como miembro y obten los beneficios de uno</h4>
                        <a href="{{url_for('iniciarSesion')}}" id="btnIniciar">
                            <button" class="btn bg-rojo-k l-blanco-k">Iniciar sesion</button>
                        </a>
                        <br><br>
                        <a href="{{url_for('registrarUsuario')}}" id="btnRegis">
                            <button" class="btn bg-rojo-k l-blanco-k">Registrarse</button>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center  m-0 bordeMedio2">
                        <h4>Finaliza tu compra como invitado</h4>
                        <a href="{{url_for('redirigirPago')}}"><button id="btnContSIS"
                                class="btn bg-rojo-k l-blanco-k">Continuar sin iniciar sesion</button></a>
                    </div>
                </div>
            </div>
            <!-- contenido pag -->
            <div class="col p-0"></div>
            

            <!-- Desplegables -->
            <div id="usuario"></div>
            <div id="carrito"></div>
    </main>
{% endblock %}